[2021-09-03 22:48] kdaily commented on #4378
Hi @stevemao,

I agree with you that it's confusing! I'm working on improving our contribution guidelines. I think a link to our CONTRIBUTING file (with improvements) would be better suited here. I'd probably even move it to it's own line to separate the thoughts a bit more so others aren't parsing it as you are. What do you think?

[2021-09-03 23:06] AWS-MattB commented on #5192
Apologies. After uninstalling the `yum`-provided AWS CLI and using the `pip3` version (1.20.36) it did indeed work.

[2021-09-04 13:45] dayer4b commented on #4982
@robvanderleek thanks so much!  It is contributions like this that make me think that this feature is still broken. That there are commonly required and readily available solutions to fix the implementation suggests that the implementation is faulty, or perhaps doesn't go far enough in bridging towards backwards compatibility.

[2021-09-04 16:59] #6377 closed

[2021-09-05 03:48] Plasma commented on #5636
Continues to be an issue unfortunately, really bad experience trying to do anything with aws ecr and docker

[2021-09-05 07:55] msayson commented on #3597
Adding to the above comments, for teams that operate in other AWS partitions, or in multiple AWS partitions, each AWS partition has its own S3 master region.

As of today, https://docs.aws.amazon.com/sdk-for-ruby/v2/api/Aws/Partitions.html indicates that there are currently 3 AWS partitions:

* "aws": the classic AWS partition
* "aws-cn": AWS China
* "aws-us-gov": AWS GovCloud

I checked in with A

[2021-09-06 07:17] alexandernst commented on #6048
Hi @stobrien89 ! It's been a couple of months (time flies!!). Any updates on this? :)

[2021-09-07 07:41] FenryrMKIII opened #6384 "AWS CLI: Two different SSL certificate issues"
I am running on windows and am executing AWS CLI commands using Cmder. My organization is using SSO for logging into our AWS accounts.

I was previously having a `SSL validation failed [...] self signed certificate in certificate chain` error when issuing AWS CLI commands e.g. `aws s3 ls`.

I was able to solve this issue by adding the ROOT certificate of my organization (we run behind Zscaler) to

[2021-09-07 13:55] alblue opened #6385 "Allow timestamp format to be specified as a command line argument"
When running the CLI the format for the date options can be configured with a configuration entry:

[code]

However, this option does not appear as a command line parameter option. As a result, the output that is returned can be location/summer time sensitive.

Although it is possible to specify TZ=UTC to avoid problems with timezones causing issues, ideally the format should be available on the c

[2021-09-07 14:35] stobrien89 commented on #5192
Thanks for letting me know!  Glad it ended up working.

[2021-09-07 18:51] stobrien89 commented on #6384
Hi @FenryrMKIII,

Sorry to hear you're having issues.  I can only think of one slightly better workaround for this in the meantime (while we're troubleshooting this issue) and that would be to toggle the `AWS_CA_BUNDLE` environment variable.  That could be slightly less cumbersome than constantly making edits to the config file.

One thing I would check for is whether or not `https://oidc.eu-west-

[2021-09-07 18:59] dconathan commented on #5943
👍   for me on this issue... right now I can't install the latest `schemathesis` and `awscli` in the same environment...

[code]

[2021-09-07 21:03] #6358 closed

[2021-09-08 06:22] FenryrMKIII commented on #6384
Hello thanks for the support.

Please find the debug herebelow :

[code]

[2021-09-08 10:42] Stranger6667 commented on #5943
@dconathan
On the Schemathesis side, `0.4.4` is not a hard requirement - I can surely relax it for the next release

[2021-09-08 11:04] #5406 closed

[2021-09-08 15:23] stobrien89 commented on #6048
Hi again @alexandernst!  Unfortunately I haven't heard anything from them, but I just reached out and asked for an update.

[2021-09-08 15:28] stobrien89 commented on #6311
Hi @Nugine,

Thanks for your patience.  I heard back from the EC2 team and while they agree that a bucket will not be returned without a `CreationDate` or `Name`, their stance is that they technically don't list output as required, as that's something that the end user can't control— they reserve that for input only.  That said, the team won't make any changes to requiring the `CreationDate` for l

[2021-09-08 15:28] #6311 closed

[2021-09-08 21:05] oddissyus commented on #5840
I have had this issue for some time om my MacOS (big sur 11.5.2). Here is the error:
[SSL: DECRYPTION_FAILED_OR_BAD_RECORD_MAC] decryption failed or bad record mac (_ssl.c:2624)

$ uname -a
Darwin guava.adari.net 20.6.0 Darwin Kernel Version 20.6.0: Wed Jun 23 00:26:31 PDT 2021; root:xnu-7195.141.2~5/RELEASE_X86_64 x86_64

$ aws --version
aws-cli/2.2.34 Python/3.8.8 Darwin/20.6.0 exe/x86_64 prompt

[2021-09-08 22:47] kdaily commented on #5899
Hi @bcap,

Thanks for the PR, marking this issue to be reviewed.

[2021-09-08 23:27] tim-finnigan commented on #6385
Hi @alblue, thanks for reaching out.

May I ask which version of the AWS CLI you are using? Here is documentation on timestamps in v2 of the AWS CLI: https://docs.aws.amazon.com/cli/latest/userguide/cliv2-migration.html#cliv2-migration-timestamp. As noted there, AWS CLI v2 now returns all timestamp output values in ISO 8601 format. But you are able to specify timezone offsets.

I think there may b

[2021-09-09 06:42] alblue commented on #6385
Ok; I'm using a recent v2 so this probably isn't relevant. However I was trying to find a way of getting back consistent timestamp formats and hoped this would do it.

There's a few problems with timestamp formatting in the cli:

1. The returned value is sensitive to the time zone by default. So if you are using a script to generate repeatable output (eg to generate the same hash) you need to run

[2021-09-09 14:26] adsanz commented on #4375
Just as a comment, I got an EFS about 2 TB large, I'm trying to make it a tar and stream it directly into an S3 so I don't have an absurd disk size, however when I use --expected-size I get the same error about malformed XML. I don't know the exact size of the file, but I used 2TB just in case it's close to that number, is there any limit on the --expected-size flag?

[2021-09-09 14:34] Filter94 commented on #4251
For me only `s3:PutObject`, `kms:GenerateDataKey` and `kms:Decrypt` was required for Multipart upload.

[2021-09-09 14:38] mehagar commented on #6255
Yes, I can confirm I am still seeing this issue. When I just run `aws asm list-certificates`, I do see the `"*.schooladmindev.com"` domain. Here is the output from that command:

[code]

Here is the output from `aws acm describe-certificate --certificate-arn <arn of certificate>`:

[code]

[2021-09-09 16:34] tim-finnigan commented on #6255
Hi @mehagar, thanks for following up. In the output above I see `"NotAfter": "2021-05-13T07:00:00-05:00"`

In the Certificate Detail [documentation](https://docs.aws.amazon.com/acm/latest/APIReference/API_CertificateDetail.html) it notes that this means the certificate is not valid after this date.

Could you try requesting a new certificate for that domain and see if that works?

[2021-09-09 17:45] patrickgreenwell opened #6387 "global output flag is not respected for aws ddb commands"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear a

[2021-09-09 19:17] stobrien89 commented on #6384
Hi @FenryrMKIII,

Thanks for the additional information!  I'm not seeing anything here that stands out— Did you have a chance to check if your ZScaler configuration is blocking connections to `https://oidc.eu-west-1.amazonaws.com:443/` by chance?  I've seen other service-specific errors like this with ZScaler and that is usually the culprit.

[2021-09-09 20:25] davegallant commented on #2275
If you want YAML badly enough, could just add [yq](https://mikefarah.gitbook.io/yq/usage/convert
) to your environment:

[code]

Obviously native support would be preferred, since adding another dependency increases attack surface.

[2021-09-09 20:26] mehagar commented on #6255
Oh, that must be why. I just realized that we were not actually using that certificate, so I'm just going to remove the certificate entirely. Thanks for your help. It's suprising that `aws asm list-certificates` by itself would show the expired certificate, but filtering by status would not, especially since in the console the expired certificate does show the status as "ISSUED". Perhaps some docu

[2021-09-09 20:47] sfllaw opened #6388 "Build Docker image so that the aws command is a single static binary"
**Is your feature request related to a problem? Please describe.**
We would like to use the `aws` command inside our own Docker containers. The easiest way to do this now, is to source the [official amazon/aws-cli](https://hub.docker.com/r/amazon/aws-cli) Docker image and extract its contents into our minimal application image:

[code]

As you can see, this is pretty involved, a bit fragile, and i

[2021-09-09 20:54] tim-finnigan commented on #6385
Hi @alblue, thanks for providing this feedback. I discussed with the team and they said it sounds like a valid ask. Are there any examples of commands you are referring to? It would help us to have some data points on how one would use a --date-format argument/config value.

[2021-09-09 21:06] carlosrodf opened #6389 "eks update-kubeconfig command does not assume role"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When runn

[2021-09-09 21:32] alblue commented on #6385
So here's an example of an API query (aws organization list-accounts with a timestamp result) that behaves inconsistently; presumably there's some truncation going on because the ns/ms component is zero:

[code]

It also makes a difference on which machine this is run on, because the environmental TZ could specify a different offset. If I run the same thing with (say) TZ=America/New_York, I see:

[2021-09-09 22:47] tim-finnigan commented on #6255
Thanks @mehagar - I agree it is surprising. Do you also see that same certificate if you run `aws acm list-certificates --certificate-statuses EXPIRED`? Another user posted here in the AWS Developer Forums that they experienced this: https://forums.aws.amazon.com/thread.jspa?threadID=258713

I also just noticed in your original post that you used `--certificate-status` rather than the documented `

[2021-09-10 08:49] bnh1 commented on #4884
Hi,

Adding another relevant forum feature request thread: [https://forums.aws.amazon.com/thread.jspa?threadID=307469](https://forums.aws.amazon.com/thread.jspa?threadID=307469)

[2021-09-10 13:22] chqbook-devops opened #6391 "Step timed out while step is verifying the SSM Agent availability on the target instance"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/systems-manager/latest/userguide/automation-walk-patch-linux-ami-console.html)
- [x] I've searched for ami ssm automation and didn't find any solution

Issue is about usage on:
- [x] SSM Automation: AWS-UpdateLinuxAmi failed to start SSM agent on launched instance, what should I do?

**Describ

[2021-09-10 13:23] #6391 closed

[2021-09-10 14:05] mehagar commented on #6255
Sorry, I've already deleted the certificate so I can't properly test it 😞

[2021-09-10 14:13] evohnave opened #6392 "TagList not showing in results for RDS describe_db_instances"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
RDS cli

[2021-09-10 14:17] mehagar commented on #6255
Actually, I take that back. I have two other certificates that fit that description. Here is the result of `aws acm describe-certificate --certificate-arn <arn>` of one of them:

[code]

I tried using both `--certificate-statuses` and `--certificate-status`, I got the same result with both (the certificate did not show up when filtering by "ISSUED" status).

[2021-09-10 16:15] stobrien89 commented on #6387
Hi @patrickgreenwell,

Thanks for pointing this out!  [It looks like only YAML was supported initially](https://github.com/aws/aws-cli/pull/3740/commits/da29edda02da68097c8f0427dcd9ae2f64cdba74), and I guess there was an oversight in how the global output params should be handled when this was modified to accept other output types.  Marking this as a bug/documentation issue.

[2021-09-10 16:18] aminsindi opened #6393 "lake-formation lf-delete-tags does not prevent deleting the tags assigned to resources"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
We are ge

[2021-09-10 16:54] tim-finnigan commented on #6392
Hi @evohnave, thanks for reaching out. The TagList should be returned when running `aws rds describe-db-instances` per the [documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/rds/describe-db-instances.html). Could you provide the full error logs by adding `--debug` to the CLI command?

If you're just interested in returning the tags then you could also try the comman

[2021-09-10 16:59] tim-finnigan commented on #6255
Hi @mehagar, thanks for following up. It looks like that certificate is also invalid based on the `NotAfter` date. But upon doing more research, I found similar filtering issues have been raised internally. It seems that a few customers have experienced inconsistent results when trying to list ACM certificates. This is actively being tracked and investigated.

If you are interested in renewing ACM

[2021-09-10 16:59] #6255 closed

[2021-09-10 17:33] evohnave commented on #6392
I forgot to mention that I'm on GovCloud.

I did rewrite my code using list_tags_for_resource, but since the docs still say that TagList is provided I shouldn't have had to rewrite.

Here's the output of the cli command you suggested for one of my db instances, a-flyaway-dissemination, which has 2 tags:

`        {
            "ResourceARN": "arn:aws-us-gov:rds:us-gov-west-1:622311207011:db:a-flyw

[2021-09-10 18:03] tim-finnigan commented on #6392
Hi @evohnave, thanks for providing that information. It looks like you're using aws-cli version 1.15.40. I tested `aws rds describe-db-instances` with this version and also did not see TagList returned. However, I ran this command with aws-cli version 2.2.29 and did see TagList returned.

Can you try updating to a newer version and running the command again? Please refer to this documentation for

[2021-09-10 18:06] evohnave commented on #6392
Hi Tim,
Ah, figures.  I'm not sure we can update... I'll bring it up and see what the answer is.
Thanks for figuring this out, I'll close the issue.
Cheers,
Eric

[2021-09-10 18:06] #6392 closed

[2021-09-10 18:06] tim-finnigan commented on #6385
Hi @alblue, thanks for providing these examples. The team will review and we can keep this issue open to track updates.

[2021-09-10 18:51] alblue commented on #6385
By the way, I re-ran my query with `TZ=Etc/Zulu` hoping that would put the Z on the end, but instead it reproduced the above with the `+00:00` suffix. The one entry with no ns still was truncated.

[2021-09-10 18:52] stobrien89 commented on #6387
Just discussed this with the team.  Looks like we still only support YAML output for the `ddb` customization for the reason mentioned in the linked pull request—Only YAML is supported because we need to support bytes and sets.  That said, we should provide better messaging and documentation around this.

[2021-09-10 19:36] stobrien89 commented on #6388
Hi @sfllaw,

Thanks for the feature request!  I can see how this would make things much simpler for your use case.  I'll review with the team to get their thoughts.

[2021-09-10 19:57] pulberg commented on #4777
Same, using awscli i logged into an acct via sso

`aws sso login --profile someprofilename`

I now need to configure sso access for a new account with a new profile

[code]

[2021-09-10 21:30] tim-finnigan commented on #6389
Hi @carlosrodf, thanks for reaching out. Are you using a role with the IAM policy **AmazonEKSClusterPolicy**?

I created a Amazon EKS cluster IAM role following the steps [documented here](https://docs.aws.amazon.com/eks/latest/userguide/service_IAM_role.html#create-service-role), and was able to successfully run the command `aws eks update-kubeconfig --name <CLUSTER_NAME> --role-arn <ROLE_ARN>`.

[2021-09-10 22:05] akshaykhc opened #6394 "ModuleNotFoundError: No module named 'botocore' | Windows | AWS CLI"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to d

[2021-09-10 22:18] stobrien89 commented on #6393
Hi @aminsindi,

Thanks for pointing this out!  I was able to reproduce.  Because this is an issue with the Lake Formation API, this will affect all AWS SDKs and tools.  I'll be transferring this issue to our shared repository for such issues and sending an internal ticket to the Lake Formation team to address this. I'll let you know as soon as I have an update!

[2021-09-10 23:03] carlosrodf commented on #6389
Hi @tim-finnigan, in my case the IAM user is in a different AWS Account.
### Account A:
* IAM User

### Account B:
* IAM Role
* EKS Cluster

The trust relationship between the role and the user works fine. I have tested assuming the role manually and it works.

[2021-09-10 23:36] tim-finnigan commented on #6394
Hi @akshaykhc, thanks for reaching out. Have you tried following these AWS CLI installation instructions for Windows? https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-windows.html

Please try following the steps there and let us know if you run into any issues.

[2021-09-10 23:52] tim-finnigan commented on #6389
Hi @carlosrodf, thanks for following up. I found this blog post on enabling cross-account access to Amazon EKS cluster resources: https://aws.amazon.com/blogs/containers/enabling-cross-account-access-to-amazon-eks-cluster-resources/

Can you try following those steps and let us know if that works for you?

[2021-09-11 00:01] lmayorga1980 commented on #5301
Any workarounds for this?

[2021-09-11 15:04] #6366 closed

[2021-09-12 19:21] 030 commented on #5142
Will you accept a PR?

[2021-09-13 00:05] #6372 closed

[2021-09-13 06:47] trungegd opened #6395 "Create lambda layer error: Invalid choice 'publish-layer-version'"
I want to create a Layer for the lambda function.
My command is:
`aws lambda publish-layer-version --layer-name image-magick  --zip-file file://aws/layer/image-magick-layer.zip --compatible-runtimes nodejs14.x`

when I run it, I got the message: Invalid choice: 'publish-layer-version', maybe you meant: publish-version

SDK version number
`aws-cli/1.15.33 Python/3.6.0 Windows/10 botocore/1.10.33`

[2021-09-13 08:07] Camusensei commented on #2250
`| tail -2` does the same  as your nodejs script. It streams and only keeps 2 lines in memory.

[2021-09-13 12:11] penguin9936 opened #6396 "aws configure"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
I reinsta

[2021-09-13 12:19] gventuri opened #6397 "Cannot run "ecs execute-command" within a docker container"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When I ru

[2021-09-13 12:51] penguin9936 commented on #6396
i found the cause while wirting this issue.
i checked the problem in debug log.

thanks.

[2021-09-13 12:51] #6396 closed

[2021-09-13 15:08] #3366 closed

[2021-09-13 15:37] stobrien89 commented on #6395
Hi @trungegd,

Thanks for reaching out!  `publish-layer-version` support was added to the CLI on 11/29/2018, which means you need version `1.16.66` (or any version of CLI v2) to have access to it.  Hope this helps!

[2021-09-13 15:37] #6395 closed

[2021-09-14 01:30] jrd-nonlilly commented on #2741
I have to agree: I just stumbled upon this behavior as I'm trying to log `aws s3 sync` output. Very unfriendly.

[2021-09-14 10:34] oo4abhishek opened #6398 "Step timed out while step is verifying the SSM Agent availability in AMI Automation"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/systems-manager/latest/userguide/automation-walk-patch-linux-ami-console.html)
- [x] I've searched for ami ssm automation and didn't find any solution

Issue is about usage on:
- [x] SSM Automation: AWS-UpdateLinuxAmi failed to start SSM agent on launched instance, what should I do?

**Describ

[2021-09-14 11:30] FenryrMKIII commented on #6384
I checked with my IT department. They confirmed the email is not blocked.

[2021-09-14 12:17] #6398 closed

[2021-09-14 12:29] darioseidl commented on #1957
I also saw this just now when running `aws help` in a `debian:buster` Docker build image. I don't need to run the help command in the container, so it's not a big deal for me, unless other commands also depend on it (I hope not).

For the people installing groff: You should probably use `--no-install-recommends` to avoid installing all the ghostscript, imagemagick, fonts, and printer related stuff

[2021-09-14 13:23] spiu commented on #4742
I'm seeing the same when behind a corporate proxy that rewrites certificates;

I got these certificates loaded in my system and curl / wget work with no certificate errors when fetching oidc.us-east-1

when running `aws configure sso`, passing the ca-certificates or skipping ssl validation both yield the same result. When running with `--debug` I see this:

[code]

python seems to pick the right p

[2021-09-14 14:06] spiu commented on #4742
Using aws-vault seems to do the trick

[2021-09-14 16:43] colvardrm2 opened #6399 "Support configuring max retries for deploy wait-deployment-successful"
**Is your feature request related to a problem? Please describe.**
For some background, we're using the `aws deploy wait-deployment-successful` command to trigger a deploy in a shell script and wait for it as part of our build. I recently encountered a timeout error from the command though, which happened because one of the instances that was spun up for the deploy randomly took about 20 minutes t

[2021-09-14 17:06] akshaykhc commented on #6394
Hello Tim, thank you for looking into this issue. I tried following the above-provided documentation. However, now I am getting the following error:

aws --version resulted in
C:\MGTI\AWS-Snowcone\aws-cli-1.16.14>aws --version Traceback (most recent call last):
 File "C:\Users\Administrator\AppData\Local\Programs\Python\Python39\Scripts\aws.cmd", line 50, in <module>
   import awscli.clidriver
 Fi

[2021-09-14 17:19] akshaykhc commented on #6394
Just an FYI, I was told to use aws cli 1.16.14 for snowball: https://docs.aws.amazon.com/snowball/latest/developer-guide/using-adapter.html#cli-version

[2021-09-14 18:32] stobrien89 commented on #6397
Hi @gventuri,

Thanks for reaching out!  I was able to reproduce, but I'm not entirely sure if interactive mode is supported when being requested from another container.  I'll reach out to the ECS team to confirm and will let you know as soon as I hear back from them.

[2021-09-14 18:39] stobrien89 commented on #6397
P52503367

[2021-09-14 19:17] tim-finnigan commented on #6394
Hi @akshaykhc, thanks for following up. It looks like you have an incompatible version of botocore. You should uninstall botocore and the AWS CLI, and reinstall v1.16.14 using the MSI installer following the steps here: https://docs.aws.amazon.com/cli/latest/userguide/install-windows.html#msi-on-windows

For more context on botocore comptability, please refer to this comment: https://github.com/bo

[2021-09-15 12:58] arnelator commented on #6236
This looks like an error not a new feature?
aws iam attach-group-policy --policy-arn arn:aws:iam::*:policy/orgs-assume-nnnnnn --group-name name_Orgs --generate-cli-skeleton output > temp.json
got an empty file.
https://docs.aws.amazon.com/cli/latest/reference/iam/attach-group-policy.html
suggests otherwise.
aws-cli/1.19.39

[2021-09-15 14:39] stobrien89 commented on #6012
Hi @Da-1kun,

You're welcome to work on it!  We'll need accompanying tests for any pull requests submitted for this fix.

[2021-09-15 16:41] akshaykhc commented on #6394
Hello Tim, thank you!

Incompatible version? Ok. Could you confirm the command to check the current botocore version and the command to uninstall it?

[2021-09-15 17:28] tim-finnigan commented on #6394
Hi @akshaykhc, I would suggest trying `pip3 show botocore` to see the version and `pip3 uninstall botocore` to uninstall. Instructions on uninstalling aws-cli are included in the [documentation](https://docs.aws.amazon.com/cli/latest/userguide/install-windows.html) mentioned earlier. Please let me know if that works for you.

[2021-09-15 18:09] akshaykhc commented on #6394
Thank you Tim. I will go through it and let you know the results.

[2021-09-15 18:14] akshaykhc commented on #6394
So the msi installer has aws cli 1.20.42 and snowball needs 1.16.14

[2021-09-15 18:41] tim-finnigan commented on #6394
Hi @akshaykhc, to install that specific version using the MSI please try this URL: https://s3.amazonaws.com/aws-cli/AWSCLI64-1.16.14.msi as recommended in this comment https://github.com/aws/aws-cli/issues/1921#issuecomment-210543657. Apologies for not clarifying that earlier.

[2021-09-15 18:51] lorengordon commented on #2938
This actually isn't supported, nor fixed in https://github.com/boto/botocore/pull/1313... When using `role_arn`, either `source_profile` or `credential_source` is required.

the profile:
[code]

[code]

[2021-09-15 19:18] kdaily commented on #6399
Hi @colvardrm2,

Thanks for contacting us! Currently, the only way you can configure your own waiter retry and timeout settings is to use the SDK - you can use the Python SDK, `boto3`, to accomplish this. Here's how you would do it for your use case and stretch it out to two hours (240 retries, wait 30 seconds in between):

https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services

[2021-09-15 19:18] #6399 closed

[2021-09-15 23:09] lorengordon commented on #2664
This would be amazing!

[2021-09-16 05:41] hijm opened #6403 "S3 Listing - SSL validation failed for https://XXXX .s3.us-west-2 ... EOF occurred in violation of protocol (_ssl.c:1125)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
During tw

[2021-09-16 11:53] Guy-Rawsthorn opened #6404 "AWS ECS Describe-clusters - settings [] is empty."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear

[2021-09-16 13:42] reegnz commented on #3711
Awesome @xiaket! Thanks for that inspiration.

And if someone would prefer to have it in json:
[code]

Would be great to retrive those credentials with a native aws cli command though.

[2021-09-16 15:48] tim-finnigan commented on #6404
Hi @Guy-Rawsthorn thanks for reaching out! In the AWS CLI v2 [documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ecs/describe-clusters.html) for `describe-clusters` please note the `--include` tag. To include Settings it says:

So if you just add `--include SETTINGS` to your command then it should provide the information you are looking for. Please let me know if you

[2021-09-16 15:48] #6404 closed

[2021-09-16 15:50] stobrien89 commented on #6403
Hi @hijm,

Sorry to hear you're having issues.  Can you confirm whether or not you're running behind a proxy?  If so, are you using a custom ca bundle? Are any other AWS CLI operations completing successfully?  Thanks!

[2021-09-16 17:34] ikarlashov commented on #4490
More than 2 yrs passed. Any enhancements?

[2021-09-16 19:32] pankush9096 commented on #5496
I ran into the same problem today while executing "aws ecs execute-command --command "bash" --interactive."
My use case also need me t use git bash only, cant use CMD or Powershell.
Were you able to found any work around.?

$aws --version
aws-cli/2.1.34 Python/3.8.8 Windows/10 exe/AMD64 prompt/off

$session-manager-plugin --version
1.2.245.0

[2021-09-16 20:22] hijm commented on #6403
Hi @stobrien89,

There is no proxy between me and AWS. Also, there is no custom ca bundle. We have 61 buckets, only 2 of them I have this problem, the +39M objects.

[2021-09-17 05:53] jforand opened #6406 "Docker image 2.2.39 can't install docker or has a breaking change."
Run the image with `docker run --rm -it --entrypoint "" amazon/aws-cli:latest /bin/bash`
Install docker with `amazon-linux-extras install docker`

Watch as RPM can't find some packages.
[code]

This was working on version 2.2.38

[2021-09-17 06:46] yish91 commented on #6406
Same issue. Any updates on this?

[2021-09-17 07:37] clauzf commented on #6406
For anyone looking for a temp fix in their CI, rollback to 2.2.37

[code]

[2021-09-17 08:12] carlosbustillordguez commented on #6406
Same issue. I confirm it's working with the previous version (2.2.38).

[2021-09-17 11:14] asanraj opened #6407 "SignatureDoesNotMatch error report"

[2021-09-17 11:15] #6407 closed

[2021-09-17 14:50] xxxperimental commented on #6406
Same issue, had always been using latest and had to downgrade to `2.2.38` last night:
[code]

[2021-09-17 16:00] stobrien89 commented on #6406
Hi all,

Thanks for the report.  We're looking into this further.

[2021-09-17 16:43] SlaySayto commented on #2107
its 5 years now. I can believe that a small task like this is taking 5 years. This is so annoying !!

[2021-09-17 16:54] SlaySayto commented on #2107
@davividal  can you tell me the steps to install the CLI manually with the modified file

[2021-09-17 18:40] stobrien89 commented on #6406
Thanks for your patience everyone.  This is an issue with the amazonlinux image, which the CLI uses as its base image— the Amazon Linux team is aware and currently working to resolve this.  We don't rebuild tags, but this will very likely be fixed in our next release, which will be next week.

As an aside, the only tool supported on the image is the AWS CLI.  From our [DockerHub documentation](htt

[2021-09-17 22:34] BradBender opened #6408 "Documentation error for "lakeformation batch-grant-permissions" for LF-Tag permissions"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
CLI docs

[2021-09-17 23:40] stobrien89 commented on #6384
Hi @FenryrMKIII,

Thanks for the update.  I'm at a loss for what this could be, but I'll review this with the team to get their thoughts.  In the meantime, you may want to also check to see your `sso_start_url` is getting blocked, if you haven't already.

[2021-09-17 23:59] stobrien89 commented on #6403
Hi @hijm,

Thanks for confirming.  It's tough to say what could be causing this, but I'll review this with the team to get their thoughts.

[2021-09-18 10:44] roytmanpiccoli commented on #5452
I have update CLI version but in Ec2 Linux 2  botocore/1.18.6 don't update for  botocore/2.0.0dev27, someone have an Idea of why?

[2021-09-19 12:01] alexrudd commented on #2938
@lorengordon is using the `credential_source` setting not a possibility in your above example?

[code]

[2021-09-19 14:14] lorengordon commented on #2938
@alexrudd Oh yes, of course that works. But I thought you were expecting it to fall through to getting the initial credential from the default credential chain, and then assume the specified role. I suppose in my head I was linking this feature to #2664, as a pre-requisite for being able to pass `--role-arn` on the cli. Having to pass both `--role-arn` and `--credential-source` or `--source-profil

[2021-09-20 09:17] alexrudd commented on #2938
Ah I see what you mean. Yeah it would be nice if it fell back to the default credential chain. Might be worth opening a separate issue as I don't think this will be tracked anymore

[2021-09-20 15:56] stobrien89 commented on #6408
Hi @BradBender,

Thanks for raising this!  This is a duplicate of https://github.com/boto/botocore/issues/2406.  I haven't heard back from the Lakeformation team yet, so I'll make sure to escalate this.

[2021-09-20 15:57] #6408 closed

[2021-09-20 16:06] kdaily commented on #2938
@alexrudd - I think this open issue is what you're looking for!

https://github.com/aws/aws-cli/issues/3875

[2021-09-20 16:06] jimiwal commented on #2095
the workaround for your problem is to:
1) Add x-amz-timestamp-desc to your bucket
2) Whenever you create object, please attach metadata value calculated as 1000000000 -  CurrentDateTime
What you achive is that your date time will not grow but decrease.

[2021-09-20 17:18] davividal commented on #2107
Nope.
I did this 5 years ago, I can't remember how I did it.

Since I made a PR with this change, I had a cloned repo with the patch applied. I probably installed this package using pip and my clone. But this is a guess.

[2021-09-20 18:07] kdaily commented on #6236
Hi @arnelator,

You need to set `--generate-cli-skeleton input`:

[code]

Note that providing other parameters does not stop the file from being generated, they just are not used (as suggested for this feature request).

[2021-09-20 19:18] stobrien89 commented on #6073
The Appflow team has rolled out a fix, which appears to be available in the latest CLI versions.  Closing, but let us know if you have any additional questions!

[2021-09-20 19:18] #6073 closed

[2021-09-20 19:25] kdaily commented on #5840
Hi @oddissyus and @SomervilleTom,

Thanks for the updates. Are you still getting these errors? Previous posts on the AWS Forums indicated this was a hardware error with a load balancer in use for S3. This is consistent with the posts that showed the same error with PHP and JS/Node.js AWS SDKs as well. So, I'm fairly certain this is not an AWS CLI or Python SDK-specific issue.

In general, getting

[2021-09-20 20:00] timharris777 commented on #2461
This is not fixed and needs to be re-opened. `aws cloudformation deploy` should be able to run against a template in s3 without having a local file.

[2021-09-20 20:03] timharris777 commented on #4773
@joguSD , please reopen this issue. Ideally both would be supported.

[2021-09-20 21:12] SomervilleTom commented on #5840
I just now ran the same command line that failed last summer, and it finished as expected.

It appears that this was, in fact, some temporary issue that was resolved.

[2021-09-20 22:02] kdaily commented on #5840
Thanks @SomervilleTom!

[2021-09-21 01:56] timharris777 commented on #3643
I just submitted a PR with working code that accepts either a local path or s3 url to the cloudformation template with the `--template-file` option.

https://github.com/aws/aws-cli/pull/6409

[2021-09-21 01:56] timharris777 commented on #4773
I just submitted a PR with working code that accepts either a local path or s3 url to the cloudformation template with the `--template-file` option.

https://github.com/aws/aws-cli/pull/6409

[2021-09-21 01:56] timharris777 commented on #2461
I just submitted a PR with working code that accepts either a local path or s3 url to the cloudformation template with the `--template-file` option.

https://github.com/aws/aws-cli/pull/6409

[2021-09-21 07:43] sgametrio opened #6410 "`aws cloudfront list-distributions` doesn't list disabled distributions"
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
I'd like to get a list of all the disabled distributions I have in Cloudf

[2021-09-21 14:24] dan-petty opened #6411 "publish v2 to PyPI"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear a

[2021-09-21 14:29] dan-petty commented on #6355
When awscli v2 in pip?

[2021-09-21 14:30] dan-petty opened #6412 "Can't install v2 on windows without admin privileges"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear a

[2021-09-21 14:52] stobrien89 commented on #6410
Hi @sgametrio,

Sorry to hear you're having issues.  I attempted to reproduce, but my disabled distribution was reflected in the query.

I'm not sure what the default page size is for this operation, but if you have a large number of distributions, it's possible that the disabled distributions are not being included in the first page of results, which is what the `--no-paginate` option limits the

[2021-09-21 14:54] tim-finnigan commented on #6412
Hi @dan-petty, thanks for reaching out! There is already an open feature request for this here: https://github.com/aws/aws-cli/issues/4633. Someone also provided a workaround in this comment: https://github.com/aws/aws-cli/issues/4633#issuecomment-868583902. Please refer to that open issue to add any feedback or track updates going forward.

[2021-09-21 14:54] #6412 closed

[2021-09-21 15:02] dan-petty commented on #6412
Wow, that's painful. Too bad you don't support basic package management functionality.

[2021-09-21 15:10] stobrien89 commented on #6411
Hi @dan-petty,

Thanks for reaching out!  This is a duplicate of https://github.com/aws/aws-cli/issues/4947.  We don't have an update yet on the PyPI request, but we are actively working on a [source distribution](https://github.com/aws/aws-cli/pull/6352) if you wanted to check that out in the meantime.

[2021-09-21 15:11] sgametrio commented on #6410
@stobrien89 I thank you so much for your answer! I totally misread the `--no-paginate` option and indeed my distribution was not in the first page.

Removing the `--no-paginate` option and increasing the default `--page-size` showed the disabled distributions too.

Thanks very much, I will close the issue :)

[2021-09-21 15:12] #6410 closed

[2021-09-21 15:16] dan-petty commented on #4633
Gotta love having to edit your PATH to get this working simply because AWS refused to do a pip release. 👎

[2021-09-21 15:21] dan-petty commented on #6411
@stobrien89 A source distribution feels like a step backward on this and does not take the place of a good universal package distribution solution. Why is this team fixated on regressing?

[2021-09-21 20:45] stobrien89 commented on #6411
Hi @dan-petty,

I apologize for the vague response. I just wanted to highlight that there is work taking place that will help distribution maintainers make the AWS CLI v2 available through standard package managers, although it [doesn’t address adding official support for installing the AWS CLI v2 through them](https://github.com/kyleknap/aws-cli/blob/source-proposal/proposals/source-install.md#no

[2021-09-21 21:00] stobrien89 commented on #6388
Hi @sfllaw,

My apologies for the delay. I was able to discuss this with the team last week and they're open to the idea— We generally like to see how much traction (in terms of community support) a feature request gets before we prioritize, so we'll leave this open for tracking for the time being.  Let us know if you have any additional questions!

[2021-09-21 21:58] stobrien89 commented on #6384
Hi @FenryrMKIII,

Thanks for your patience.  I was able to review this with the team and it's looking like this is an issue with the certificate bundle— I'd double check with your IT department to see if there's anything they can do (i.e. check to see if they extend to the `oidc` subdomain).

Another thing you could do to work around this in the meantime is create a separate profile specifically f

[2021-09-21 23:50] kdaily commented on #6406
Hi all, with the 2.2.40 release today, this is resolved. Closing, thanks again for bringing it to our attention.

[2021-09-21 23:50] #6406 closed

[2021-09-22 00:06] #6389 closed

[2021-09-22 15:00] krschwab opened #6416 "CLI should unset LD_LIBRARY_PATH before running external aliases"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When you

[2021-09-22 15:31] yambrosov opened #6417 "Command resourcegroupstaggingapi get-resources do not return Resources with empty Tags list"
**Describe the bug**
An aws account some resources exists without Tag. It is not possible to see it in teh list of resources but documentation for the api says it should return.

**SDK version number**
aws --version
aws-cli/2.2.39 Python/3.8.8 Linux/4.19.0-9-amd64 exe/x86_64.debian.11 prompt/off
~/.aws/config
[profile profile_name]
region = eu-central-1
output = yaml

**Platform/OS/Hardware/Device

[2021-09-22 16:26] stobrien89 commented on #6417
Hi @yambrosov,

Thanks for reaching out!  This is a duplicate of https://github.com/boto/boto3/issues/2983.  The [documented behavior](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/resourcegroupstaggingapi/get-resources.html) for this operation is:

Most services will have a `list`, `describe` or `get` operation that will list all resources for a given service, depending on wh

[2021-09-22 16:26] #6417 closed

[2021-09-22 17:43] 0angelic0 commented on #3064
why closed?

[2021-09-22 19:19] joshsleeper commented on #6308
hey @kyleknap I always feel guilty bumping stuff, but is there any progress or tracking issue on those `--api-version` opts you said would be considered?
we were in the apparently-too-quick-to-update camp across nearly 100 repos and we've been pinned to `2.2.24` since 😆

[2021-09-22 19:29] estebane-frb commented on #5106
Hi there - wondering if this ever came to fruition

[2021-09-22 22:12] kdaily commented on #3064
Hi all, I appreciate your comments and updates on how to manage the task of updating an ECS task definition.

I've previously engaged the ECS team on a related issue (https://github.com/aws/aws-sdk/issues/38), which focused on making it easier to round trip between `describe-task-definition` and `register-task-definition` due to extra fields present when describing related to dates of creation, re

[2021-09-23 03:11] dennisroche commented on #5309
https://github.com/awsdocs/aws-cli-user-guide/pull/48 was merged that documents/resolves this.

[2021-09-23 16:33] eph6666 commented on #2941
I still get the same error too

[2021-09-23 16:46] kdaily commented on #6416
Hi @krschwab,

Thanks for your post and sorry to hear you're having an issue.

This is related to how the CLI is built using PyInstaller and was added for other feature support (https://github.com/aws/aws-cli/pull/4964). It's causing the same issue (https://github.com/aws/aws-cli/issues/5506) with the `credential_process` which also uses a subprocess to run, like an external alias.

I'm going to l

[2021-09-23 16:46] kdaily commented on #6416
Closing as a duplicate of #5506, please add any other comments there. Thank you!

[2021-09-23 16:46] #6416 closed

[2021-09-23 17:06] #3234 closed

[2021-09-23 17:29] tnightengale commented on #2402
OMFG just merge #5849 already, lfg are you serious AWS? Don't make me email Bezo-daddy directly and have an email like:

Sender: jeff@amazon.com
Subject: ?

show up in the inbox of the PM for this effing tool. Holy honkers, why have tests if you won't merge PRs that pass them!!!! 😠

[2021-09-23 20:58] jostendorf opened #6419 "aws cli not reporting error"
I have v2 of the aws cli installed on my MacBook and when I type "aws --version" at the command prompt, it just returns to the command prompt with no output.  Same result with any other cli command.

[2021-09-23 21:05] krschwab commented on #5506
I see @kdaily mentioned this issue alongside the one I filed in #6416, but I thought it was worth adding a comment here, since you would probably have to fix it in two places.

With aliases, it's calling via python's subprocess directly in CLI related code (alias.py).

The process_credentials external call appears to come from botocore.

Though maybe the fix is just unsetting LD_LIBRARY_PATH in so

[2021-09-23 23:12] kdaily commented on #6419
Hi @jostendorf,

Sorry to hear you're having a problem. I'll need you to provide some more details for me to help you.

Just to clarify:

Does this refer to commands besides the AWS CLI, or still limited to the AWS CLI sub-commands (e.g., `aws s3 ls`)?

Can you tell me:

1. How you installed the AWS CLI v2? Did you use the installation guide [here](https://docs.aws.amazon.com/cli/latest/userguide/

[2021-09-24 08:47] trungegd commented on #6395
Hi, @stobrien89 Thanks for your update.
It works for me.

[2021-09-24 09:10] mikael-vandmo-wcar opened #6421 "Create and publish .deb/.rpm files"
**Is your feature request related to a problem? Please describe.**
Keeping the v2 cli up to date.

**Describe the solution you'd like**
`sudo apt upgrade`

**Describe alternatives you've considered**
Just never upgrade until I am missing a feature that I need.

[2021-09-24 12:07] jostendorf commented on #6419
Yes, I followed the guide to install it.  I installed version 2.2.40.  Yes, I'm guessing it is just failing silently?  Any cli command I use results in just going back to the prompt.  Also, FYI.   I am unable to post any screen shots here.  I will try to delete everything and start over today with the newest version. Not really sure how to even debug this.

[2021-09-24 17:46] mattpangaro commented on #3011
This is still an issue. The table formatter arranges the columns in alpha order, which doesn't make a ton of sense, and definitely makes the output harder to use. Please consider outputing columns in the order specified in the query.

[2021-09-24 17:59] stobrien89 commented on #6421
Hi @mikael-vandmo-wcar,

Thanks for bringing this up! I'd consider this a duplicate of https://github.com/aws/aws-cli/issues/5282.  We're actively working on a [source distribution ](https://github.com/aws/aws-cli/pull/6352), which should help ease issues with packaging.  We'll post any updates to the linked issue!

[2021-09-24 17:59] #6421 closed

[2021-09-24 18:36] stobrien89 commented on #3201
Hi @mhalano,

Thanks for reaching out!  I don't believe we'll be creating repositories (but don't hold me to that), but we are actively working on a [source distribution](https://github.com/aws/aws-cli/pull/6352), which should alleviate some issues with packaging by helping distribution maintainers make the AWS CLI v2 available through standard package managers.  We want to condense our issues rel

[2021-09-24 18:36] #3201 closed

[2021-09-24 20:04] #6394 closed

[2021-09-24 23:21] hauntingEcho commented on #5448
This is still an issue.

[2021-09-25 01:24] #1080 closed

[2021-09-25 01:24] #1803 closed

[2021-09-25 01:24] #2123 closed

[2021-09-25 01:24] #2563 closed

[2021-09-25 01:24] #2907 closed

[2021-09-25 01:24] #3198 closed

[2021-09-25 01:24] #3867 closed

[2021-09-25 01:24] #5126 closed

[2021-09-25 01:25] #5368 closed

[2021-09-25 05:56] masterchop commented on #4943
how to build for older architectures ?  I need it for armv7l

[2021-09-25 11:17] matteoolivi opened #6424 "aws ecr batch-delete-image returns failure but 0 return code"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
I have an

[2021-09-26 08:23] aureq commented on #6230
@kdaily Could this issue receive a bit more attention and love please? Here is why this is quite important.

1. Following the closed discussion here, developers/dev(sec)ops have a limited choice to install the AWS cli. See #4947
2. In automated processes like creating a container image that rely on the cli and other tools, it nearly impossible to parse a HTML page to extract the PGP signing key in

[2021-09-26 10:18] ngtlin commented on #4971
@AnthonyWC It doesn't work.
Error relocating /usr/local/bin/aws: __strcat_chk: symbol not found
Error relocating /usr/local/bin/aws: __snprintf_chk: symbol not found
Error relocating /usr/local/bin/aws: __vfprintf_chk: symbol not found
Error relocating /usr/local/bin/aws: __realpath_chk: symbol not found
Error relocating /usr/local/bin/aws: __memcpy_chk: symbol not found
Error relocating /usr/loca

[2021-09-26 20:45] chris-oconnor-plurilock commented on #5570
I also have the exact same problem. We have just moved over to aws sso so we are forced to use aws eks get-token if we use aws sso to gain cli access to the eks cluster. So I would suggest this is actually a regression since i can no longer use aws-iam-authenticator. The speed difference is very annoying

[2021-09-27 06:52] cbocast commented on #3708
Just got hit by this one when reworking my templates to use AWS::Include to group user creation. The included templates use nested stacks with local paths that I found out are not replaced by the package command

[2021-09-27 12:07] marcelloromani commented on #4971
(Care to elaborate as to why installing via `pip` is considered so bad?)

[2021-09-27 14:37] ezzieyguywuf opened #6425 "v2 Package for Gentoo Linux"
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [x] CLI : passing arguments or cli configurations.

**Platform/OS/H

[2021-09-27 16:05] stobrien89 commented on #6424
Hi @matteoolivi,

Thanks for reaching out!  This is expected behavior, but I do think the API behavior is somewhat confusing.

While our [command reference documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ecr/batch-delete-image.html) is derived from the [service API documentation](https://docs.aws.amazon.com/AmazonECR/latest/APIReference/API_BatchDeleteImage.html),

[2021-09-27 19:43] cmoralesmx commented on #5904
Hello, this seems like a good small issue to get myself involved with the project. I'll start working on this as it seems to be available

[2021-09-27 21:57] stobrien89 commented on #6425
Hi @ezzieyguywuf,

Thanks for reaching out!  As far as I know, this would be a welcome contribution— We're actively working on a [source distribution](https://github.com/aws/aws-cli/pull/6352) , which should help ease issues with packaging, although it doesn’t address adding official support for installing the AWS CLI v2 through them.

You'll likely have to wait until the source distribution is re

[2021-09-27 22:10] kdaily commented on #6425
@ezzieyguywuf,

I would also follow up with this Gentoo forums post regarding packaging the AWS CLI v2:

https://bugs.gentoo.org/710434

Some of the main concerns raised there should be mitigated by the source distribution, making it straightforward (we hope!) for package maintainers to use. We'd be happy for your, or others from the Gentoo package community, feedback on the source distribution as

[2021-09-27 22:10] #6425 closed

[2021-09-28 05:54] PeterMalkin commented on #6351
Still happening. The workaround does not help

[hadoop@ip-172-31-43-32 ~]$ aws codeartifact login --tool pip --repository ceti --domain ceti-repo
pip was not found. Please verify installation.

[hadoop@ip-172-31-43-32 ~]$ pip3 install pip
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in /usr/lib/python3.7/site-packages (20.2.2)

[h

[2021-09-28 15:30] TRiggAtGM opened #6428 "`aws configure import --csv` failing with missing header error when header *is* in the CSV"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear a

[2021-09-28 15:31] TRiggAtGM commented on #6428
It looks like my work filling out the info was lost. I will edit the issue and fill all of that out again

[2021-09-28 18:07] drewlustro commented on #4971
@marcelloromani - the lone, working `pip` solution in that StackOverflow thread you linked produces aws-cli@1.x

People in this thread are interested in `2.x`. I'm not sure they have a problem with `pip` itself.

[2021-09-28 18:20] kdaily commented on #6428
Hi @TRiggAtGM,

Thanks for your post. You're missing the `file://` prefix when specifying the input CSV file. Your command should look like:

[code]

I confirmed that if I specify a file name without this, I get the same error as you. See the documentation page and examples for more details on the command usage (note this is available only in the AWS CLI v2):

https://awscli.amazonaws.com/v2/docum

[2021-09-28 18:20] #6428 closed

[2021-09-28 18:25] kdaily commented on #6419
Thanks for the update!

If you can, you might try to use it in a different terminal program, like iTerm.

Did you install using the `pkg` file, or using the command line?

[2021-09-28 18:38] kdaily commented on #4971
Hi all,

Please review the recently proposed source distribution for the AWS CLI v2 that has shown success (via third party) for building on Alpine Linux:

https://github.com/aws/aws-cli/pull/6352#issuecomment-909083091

There is also an example in the proposal for building on an Alpine Linux container image:

https://github.com/kyleknap/aws-cli/blob/source-proposal/proposals/source-install.md#alp

[2021-09-28 18:43] stobrien89 commented on #6424
Hi @matteoolivi,

I took a second look at this after reviewing with the team and I think we could make it clearer that the CLI deems any request that receives a response of 200 a successful request.  There are other services/cases like this that will return a 200 where someone may intuitively think it should return something different.  Re-opening and marking as a documentation issue.

[2021-09-28 18:43] kdaily commented on #5087
Bumping this to keep it open, as there is an open PR that needs review.

[2021-09-28 18:52] nateprewitt commented on #5087
Hi @serverhorror, we had a quick clarifying question that should have been asked here originally. Could you provide a little more info about your use case? Specifically you're trying to develop a new feature/code change with the CLI that's being inhibited?

If you're only trying to install the repo from source to use the CLI, `pip install -e .` will get all required dependencies. The requirements.

[2021-09-28 18:52] kdaily commented on #4685
The recent [source distribution proposal](https://github.com/aws/aws-cli/pull/6352) shows how you can build the AWS CLI v2 under Alpine Linux now, using a Docker container as an example:

https://github.com/kyleknap/aws-cli/blob/source-proposal/proposals/source-install.md#alpine-linux

Third parties have also indicated success with Alpine 3.14:

https://github.com/aws/aws-cli/pull/6352#issuecommen

[2021-09-28 19:22] dennisvang commented on #2447
Thanks @jasonkarns , the `-e` flag is not mentioned in the [online documentation](https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/eb3-setenv.html) either, but it does the job.

[2021-09-28 20:33] saraswat40 commented on #2643
This stuff is not documented. This is how the the parameter needs to be passed:
`# aws ec2 associate-iam-instance-profile --iam-instance-profile '{"Name": "name of the profile" }'`
OR
`# aws ec2 associate-iam-instance-profile --iam-instance-profile '{"arn": "arn of the profile" }'`

[2021-09-28 21:15] triggan opened #6432 "Missing get-vpn-connection-device-* commands"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Both th

[2021-09-28 21:23] nateprewitt commented on #6432
Hi @triggan,

I believe you're using a version of the AWS CLI v2 that was released prior to these APIs being available. The current release of the CLI v2 is 2.2.41 and these changes were added in 2.2.40 ([changelog entry](https://github.com/aws/aws-cli/blob/v2/CHANGELOG.rst#L29)). Could you try upgrading and checking again? Thanks!

[2021-09-28 21:38] jostendorf commented on #6419
I uninstalled everything again and was able to get it working.  Was a Rouge
simlink I think...

Thanks for taking the time to respond.

On Tue, Sep 28, 2021, 1:25 PM Kenneth Daily ***@***.***>
wrote:

[2021-09-28 22:04] #6384 closed

[2021-09-28 22:04] #6403 closed

[2021-09-29 00:27] JacobWeyer opened #6433 "AWS lambda invoke doesn't handle payloads as described in the docs"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When usin

[2021-09-29 06:55] frco9 opened #6434 "TableWildcard option not supported with add-lf-tags-to-resource"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
In the [d

[2021-09-29 10:06] mcieno opened #6435 "s3 sync: download failed [Errno 20] Not a directory"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When runn

[2021-09-29 12:53] triggan commented on #6432
Ha! I guess I should never assume that the API for functionality that has been around for awhile would be there in a very recent version.  Good call.  I updated and it is there.  Closing the issue.

[2021-09-29 12:53] #6432 closed

[2021-09-29 14:52] stobrien89 commented on #6433
Hi @JacobWeyer,

Sorry for the confusion— our command reference guides will usually point to v1 documentation and there's a small disclaimer at the top that states you're viewing older documentation, with a link to the v2 version for the operation in question.  We're working on changing this, along with some other user guide overhauls.

For V2, the [examples](https://awscli.amazonaws.com/v2/docume

[2021-09-29 14:52] #6433 closed

[2021-09-29 15:03] hjalbuquerque-ritain opened #6436 "Automatic Latest AWS CLI version validation"
I have an application that uses the AWS CLI, in this application I need to validate if I have the latest version of the CLI.
I have been searching and there is no command or link that indicates what is the latest version of CLI, as it does for the Session Manager Plugin that through this link **https://github.com/aws/session-manager-plugin/releases/latest**, indicates what is the latest version of

[2021-09-29 16:12] pwillis-els commented on #4685
Thanks so much for the Alpine source build example! This is great news.

I think the next step in order to provide feedback on the PR would be to build a package on Alpine. That way we can find and address any remaining gotchas.

Does anyone know if any Alpine maintainers/packagers have this on their radar? If not, I can start learning how to package/release for Alpine. It's been a few years since

[2021-09-29 16:37] #4378 closed

[2021-09-29 17:42] #5345 closed

[2021-09-29 19:34] #6436 closed

[2021-09-29 21:20] tim-finnigan commented on #6434
Hi @frco9, thanks for reaching out. I was able to reproduce this issue. Since this is a service issue that affects all SDKs, I’m transferring it to our shared SDK repository. I opened a ticket for the Lake Formation team and will update this issue when I hear back from them. Thank you for bringing this to our attention!

[2021-09-29 21:20] tim-finnigan commented on #6434
P53170585

[2021-09-29 21:41] kdaily commented on #6419
Thanks for letting us know! Glad it's working. Closing this out.

[2021-09-29 21:41] #6419 closed

[2021-09-29 21:51] kdaily commented on #5142
Hi @030,

This would not be a pull request for this repository, it would be to manage what is pushed to Snapcraft. With the recent source distribution proposal (#6352), we're looking into what it will take for the current owner to get the existing Snap up to date.

[2021-09-29 21:54] kdaily commented on #6114
Sorry for the delay, @andymac4182 - no docs at the moment, just the existing examples.

[2021-09-29 22:01] kdaily commented on #5909
Closing this out. Please track on the progress of the source distribution as that will be the path forward for cases like this.

[2021-09-29 22:01] #5909 closed

[2021-09-29 22:03] omer-to opened #6439 "How can I stay in the auto prompt mode?"
Confirm by changing [ ] to [x] below:
- [x ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to

[2021-09-29 22:03] kdaily commented on #5876
Thanks for that comment @microbioticajon!

We experienced a similar issue with Kubernetes, and this had to do with how memory usage was being reported. It was considering cached memory as counting to total memory usage. The operating system was keeping the full size of a file downloaded from S3 in the cache, so some memory reporting was adding this to the total even though that memory could be fre

[2021-09-29 22:03] #5876 closed

[2021-09-29 22:09] kdaily commented on #5784
@SARAVANA1501,

The AWS CLI already supports single sign-on (SSO) functionality. Does this satisfy your use case?

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sso.html

Users have also used browser-based authentication methods using a credential process as described here. They use JavaScript to return credentials in the appropriate format.

https://docs.aws.amazon.com/cli/latest

[2021-09-29 22:20] kdaily commented on #5283
@vfrank66,

I apologize for not following up here. Is this still an issue for you?

I think what you're experiencing is expected. `no-paginate` returns only the first page. I think I would need to see `--debug` logs to determine anything further.

[2021-09-29 23:09] tim-finnigan commented on #6435
Hi @mcieno, thanks for reaching out. I was unable to reproduce this issue. I’m not sure why those objects are getting created in your S3 bucket.

If you uploaded another directory to that bucket and test `s3 sync`, do you see the same issue? And if you created another bucket and test the sync command, do you see the issue there as well?

You could use the `--exclude` filter to ignore those files,

[2021-09-30 01:43] pgriess commented on #2045
I'd like this to exist and am willing to spend some time building it.

What is the best way to proceed here? I can jump right to submitting a PR for the single metadata JSON file, but would it be helpful to discuss design / implementation strategy first? I've never committed to this repo before, so if there are any pointers to related code / suggested supporting infrastructure, I'm all ears.

[2021-09-30 07:25] mcieno commented on #6435
If I upload another directory it works like a charm.

The `--exclude` workaround does not work. It appears it tries to pull that unexisting dot-file anyway:

[code]

Here's part of the debug. It looks like that file is not passed to the exclude filter:

[code]

<hr>

It looks like in this bucket directory there actually are 3 objects:

[code]

From the first output line, `2016-05-20 11:00:24

[2021-09-30 07:59] mcieno commented on #6435
After noticing that unexpected third file I was able to tell there actually was an object named `dir/`.

That object probably existed because the directory was created using "create folder" from the console, although that typically creates a 0 bytes object that doesn't bother sync.

After removing the object named `dir/` I'm able to sync correctly.

[code]

<hr>

I believe the error message could

[2021-09-30 07:59] #6435 closed

[2021-09-30 09:55] volphy commented on #5972
Is it related to:
https://github.com/aws/aws-cli/issues/5301
?

[2021-09-30 13:21] serverhorror commented on #5087
Let me start with this: I think you can close this, it has timed out and I honestly can't remember the context. We have worked around it. If memory served me correctly I reported this because it was quite unexpected that SSH connections were required to get the development dependencies installed.

I'll leave the decision whether to close this or not to you. I won't hold any grudges :)

Yes that _w

[2021-09-30 14:28] microbioticajon commented on #5876
Hi @kdaily

Many thanks for the insight.

Since adding a swap partition to the Batch node the number of aws s3 cp related memory allocation errors has dropped off considerably. However, in the last week we experienced a few failures when running on large cluster nodes - possibly too many jobs exceeding the maximum swap available? The problem with adding a simple swap volume is that it is configure

[2021-09-30 15:32] dcloud9 commented on #5301
Our use case is to use AWS SSO as our source of auth and assume IAM roles (Permission Sets) for SaaS-based CICD pipeline.
The `env BROWSER=/bin/true` works, but I still need to open the link and key in the generated code.
Does anyone know a workaround for this or a "headless" fix is completely impossible?
If so, we'll just use the `sts assume-role` with `--external-id`.

[2021-09-30 15:44] lmayorga1980 commented on #5301
@dcloud9 I will provide a `gist` of my workaround without `awscli` using `python, selenium, chromedriver`

[2021-09-30 16:45] tim-finnigan commented on #6439
Hi @omer-to, thanks for reaching out! That is the expected behavior. But I agree it would be useful to have the auto-prompt mode persist.

A feature request was already created here to create a persistent shell mode for auto-prompt: https://github.com/aws/aws-cli/issues/5665

Please follow that issue for updates and like the original post to indicate your support for this feature.

[2021-09-30 16:45] #6439 closed

[2021-09-30 19:18] sfllaw commented on #6388
I noticed that #4685 is somewhat related.

[2021-10-01 02:48] julien-tamade opened #6442 "Specifying Projected Attributes for @key directive"
**Is your feature request related to a problem? Please describe.**
General List queries with filtering tends to be really slow and the unpredictable pagination annoying. I'm looking into using @key to set up some common queries on my tables so that I can quickly list the items I need. In these instances though, If i'm setting up a bunch of indexes, I'd like to be able to specify the projected attr

[2021-10-01 03:11] julien-tamade opened #6443 "Remove all permissions in-line using [] for operations for @auth API Schema"
**Is your feature request related to a problem? Please describe.**
I've found that to be able to query through Model's connections, auth permissions need to be specified at the Model level. But then it's impossible to remove all permissions for an AuthStrategy/Provider in-line.

For Example:
type Post @model{
  id: ID!
  content: String
  authorId: ID!
  author: User @connection(fields: ["authorId

[2021-10-01 10:37] marcelloromani commented on #4971
Damn, thanks @drewlustro I must have looked at this in haste.

[2021-10-01 15:19] stobrien89 commented on #6388
Hi @sfllaw,

Thanks for letting us know!  While related, I don't think it's similar enough to be considered a duplicate.  I updated my last comment to highlight how we track community support for a feature.

[2021-10-01 16:29] stobrien89 commented on #6384
Hi @FenryrMKIII,

Just checking in— were you able to find a solution?

[2021-10-01 18:24] kdaily commented on #6442
Hi @julien-tamade,

I'm not sure what you're referring to here. I see you mention moving off of Amplify - are you using the AWS Amplify CLI? To get help with that, you'll need to head over here:

 https://github.com/aws-amplify/amplify-cli/issues

Otherwise if you could provide more detail, that would be great. Thanks!

[2021-10-01 18:53] kdaily commented on #6443
Hi @julien-tamade,

I'm not sure what you're referring to here. I see you mention moving off of Amplify - are you using the AWS Amplify CLI? To get help with that, you'll need to head over here:

https://github.com/aws-amplify/amplify-cli/issues

Otherwise if you could provide more detail, that would be great. Thanks!

[2021-10-01 22:48] skyzyx commented on #4685
@pwillis-els said:

I'm also beginning to poke at this. My pipeline is different (I'm creating synchronized builds across macOS, Windows, AL2, CentOS 7, Ubuntu 20.04, and Alpine 3.14) so I'm using [nfpm](https://nfpm.goreleaser.com) instead of `APKBUILD` to keep the multi-platform build pipeline simple. As I make progress, I'm happy to share notes on dependencies and compilation steps for Alpine.

[2021-10-02 00:56] dereksz commented on #2683
It should be added; for all these aren't in a tree structure in the storage system, everybody uses these prefixes as a way to organise data hierarchically, including for table partitioning.  `aws s3 ls` even lists the `PRE` prefixes up to the next `/` character.  This is a much needed feature.

[2021-10-02 08:47] MoG-AWS opened #6446 "'aws elasticbeanstalk list-platform-versions' Filter flag failing on certain option combinations (InvalidParameterCombination)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear

[2021-10-02 15:09] julien-tamade commented on #6443
@kdaily oh yeah this was meant for Amplify CLI, not sure how I ended up here.

[2021-10-02 15:09] #6443 closed

[2021-10-03 00:07] #5063 closed

[2021-10-03 22:04] #5307 closed

[2021-10-04 11:53] miensol commented on #2027
Hi @RobertFischer
As far as I can tell the documentation doesn't make it clear that there's a relation between `replication-source-identifier` and master username. Could you please clarify which one is right?

[2021-10-04 16:11] kdaily commented on #2027
Hi @miensol - I can give this feedback to the documentation team that this is not clear. Per the [existing documentation](https://docs.aws.amazon.com/cli/latest/reference/rds/create-db-cluster.html), supplying `replication-source-identifier` does the following:

[2021-10-04 16:34] kdaily commented on #6442
Per #6443 this is for AWS Amplify CLI. Closing!

[2021-10-04 16:34] #6442 closed

[2021-10-04 16:58] tim-finnigan commented on #6446
Hi @MoG-AWS, thanks for bringing this to our attention. I was able to reproduce this issue.

I created a ticket for the Elastic Beanstalk team to review. I’m transferring this issue to our shared SDK repository since it appears to be a service issue that would affect each SDK. I will share updates here when we hear back from that team.

[2021-10-04 16:58] tim-finnigan commented on #6446
P53352913

[2021-10-04 17:01] SliMM commented on #912
+1

[2021-10-04 18:04] #5556 closed

[2021-10-04 18:36] anagai commented on #2879
That works. Don't see gatewayresponse.header documented in cli documentation or anywhere else.

[2021-10-04 20:03] #2915 closed

[2021-10-04 20:04] #5573 closed

[2021-10-05 03:40] SARAVANA1501 commented on #5784
Thanks, I went through the document, We are using federation auth system provided by Azure AD, I am not sure how to configure sso on aws cli v2.

[2021-10-05 08:05] miensol commented on #2027
Thanks @kdaily

I think this part is pretty clear. What is not clear however is that one cannot supply  `replication-source-identifier`
along with e.g.
[code]

This is somewhat important when the RDS is used via CloudFormation. Perhaps I should report the issue in a different project?

[2021-10-05 11:04] #4239 closed

[2021-10-05 14:51] stobrien89 commented on #5972
Hi @volphy,

Yes, I'd say this is related, but not necessarily closely enough related to be considered a duplicate, as this would be a change in the default behavior as opposed to an opt-out like requested in the linked issue.

[2021-10-05 15:21] bedapisl opened #6450 "aws ec2 start-instances: Read timeout on endpoint URL"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
I am not

[2021-10-05 16:35] ryancabanas commented on #3131
I have this same issue.  While the suggestion from @rsodha does work to prevent most duplicate packages from being uploaded by the `aws cloudformation package` command, the `AWS::Serverless::LayerVersion` layer that I've created keeps getting re-uploaded, even when there are no package changes.  I believe the reason is due to the `CODEBUILD_SRC_DIR` path, which is different every time an `AWS::Cod

[2021-10-05 17:52] m4dc4p commented on #5261
Please, please fix this. `aws sso` needs to write `~/.aws/credentials`.

[2021-10-05 17:53] m4dc4p commented on #4982
Please, please fix this. Makes transitioning to `aws sso` extremely painful. That command needs to update `~/.aws/credentials`.

[2021-10-05 20:58] tim-finnigan commented on #6450
Hi @bedapisl, thanks for reaching out. I was unable to reproduce that error. Since the command worked for you yesterday, do you think it was caused by a temporary network glitch? If you’re still experiencing this issue, can you try the following:

* Confirm that there were no recent IAM permissions updates that might affect you
* Check that your region is configured correctly ([documentation here]

[2021-10-05 21:06] ryancabanas commented on #3131
After many attempts, I still could not prevent a new Lambda Layer from being generated during each CodePipeline run.  I tried the following:
- In my `buildspec.yaml`, for the `CODEBUILD_SRC_DIR` variable and the path that is automatically generated in the `AWS::CodeBuild::Project` resource, right from the start I renamed the the `src...` path to the static value `src123456789` and updated the `COD

[2021-10-05 21:23] nngabriel opened #6452 "aws workdocs describe-notification-subscriptions doesn't report even when there are notifications enabled"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ X] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
I'm try

[2021-10-05 22:30] bjorg commented on #3131
@ryancabanas the file dates are probably different. Different values also means different compression level. I had to solve this problem for LambdaSharp.Net as well. You have to MD5 only the file paths and file contents in the ZIP file to make it an idempotent process.

[2021-10-05 22:41] comfytoday commented on #6316
I've fond the issue with my setup. It was an incorrect **sso_start_url** parameter.

A few weeks ago we migrated to a new SSO account/directory, and a new URL.

For some reason it's taken this long for the URL in my .aws/config file to cause an issue... Seems strange. Not sure if that would be reproducible or not.

I guess it would still be useful if there was some feedback in cases like this.

[2021-10-06 00:11] bjorg commented on #3131
@ryancabanas not sure, but isn't there a modified and a created timestamp on files? Could that be it? Do folders have timestamps? Does the zip file itself have an internal timestamp?

I'd recommend you write a little app that opens both zips and compare the metadata of all entries. If the files are the same, it's must be the metadata. Most zip libraries are pretty easy to use. It's almost identica

[2021-10-06 05:26] kyptov commented on #3131
@ryancabanas did you try aws-cdk? It looks like it generates same hash for same contents each time.

[2021-10-06 05:36] rehanvdm commented on #3131
CDK fanboy here. They don't have this problem, the cdk-assets does things like normalize file dates and line endings before zipping.

But @ryancabanas what you are describing the `CODEBUILD_SRC_DIR` is different has an impact on the package.json. TL;DR It is the wild-wild west within the node_modules directory, it mutates after installation and is the cause for non-deterministic hashing.

Some pac

[2021-10-06 06:06] bedapisl commented on #6450
Hello, it is working now without any action from my side. So it really was some temporary network glitch as you say. I guess we can close this.

[2021-10-06 06:10] #6450 closed

[2021-10-06 12:54] atheiman commented on #3712
To simplify this issue and match other cloudformation cli commands, I think the option could just be `-–disable-rollback`. This option already exists in [`create-stack`](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/create-stack.html), [`update-stack`](https://docs.aws.amazon.com/cli/latest/reference/cloudformation/update-stack.html), and [`execute-change-set`](https://docs.aws.a

[2021-10-06 14:05] ryancabanas commented on #3131
@rehanvdm Thanks for your article!  Yes, what you said about the `package.json` metadata, namely the `CODEBUILD_SRC_DIR` path, is exactly what I discovered.  I performed a test where, in CodeBuild, before anything else, I changed the `src...` folder name to a consistent name (for example, I always change it to `src123456789`) and this _has_ resulted in .zip file contents that were then the same fr

[2021-10-06 14:08] atheiman commented on #3712
I've started a PR for this which adds `--disable-rollback | --no-disable-rollback` to `aws cloudformation deploy`. This option is already on `create-stack`, `update-stack`, and `execute-change-set`, so I think it makes sense to have on `deploy`. Its a simpler interface to disabling rollback, which is what I think most people would use `--rollback-configuration` for. Need to test it locally / polis

[2021-10-06 14:20] micah5 opened #6454 "DMS S3Settings doesn't support CannedAclForObjects"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
According

[2021-10-06 15:43] kdaily commented on #6452
Hi @nngabriel,

Thanks for your post and sorry to hear you're having trouble. Can you please provide the output when `--debug` is enabled?

[code]

Please redact any sensitive information. Thanks!

[2021-10-06 15:48] kdaily commented on #6454
Hi @micah5,

It looks like this field was [introduced back in August](https://github.com/boto/botocore/commit/8ff9a5e3c8de6f86135fc9fc8db8f55c55e60d89) with `botocore==1.21.27`. You have `botocore==1.20.105`. You'll need to update your AWS CLI version to at least 1.20.27 to get this API change. Thanks!

[2021-10-06 16:32] tailaiw opened #6455 "Add parameter `Name` to `CreateVpcEndpoint`"
**Is your feature request related to a problem? Please describe.**
A VPC endpoint can have a custom name set in AWS Console, but no way to do so via CLI.

**Describe the solution you'd like**
Having an optional parameter `Name` in for `CreateVpcEndpoint` and `ModifyVpcEndpoint`.

[2021-10-06 23:03] #5283 closed

[2021-10-06 23:32] nngabriel commented on #6452
Hi @kdaily here's the output with debug. The Security tokens were stripped
aws --debug workdocs describe-notification-subscriptions --profile ts-demos --organization-id d-926772910c --region us-west-2
2021-10-06 20:28:05,659 - MainThread - awscli.clidriver - DEBUG - CLI version: aws-cli/2.2.43 Python/3.8.8 Windows/10 exe/AMD64
2021-10-06 20:28:05,659 - MainThread - awscli.clidriver - DEBUG - Argum

[2021-10-07 06:27] grepsedawk opened #6456 "aws ecs execute-command TargetNotConnectedException"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When I

[2021-10-07 10:20] uriborn opened #6457 "The latest aws-cli v2 cannot be installed via pip"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When inst

[2021-10-07 18:15] tim-finnigan commented on #6455
Thanks @tailaiw for sharing that. I agree this should be clarified. I found a similar pattern is used for naming EC2 instances, but they make it clearer in the Console by adding the “click to add a Name tag” button here:
﻿﻿﻿
<img width="845" alt="image" src="https://user-images.githubusercontent.com/87778557/136439798-64281f60-d15e-4eeb-b636-a220d017b53f.png">

I reached out to the VPC team about

[2021-10-07 22:12] kdaily commented on #6456
Hi @grepsedawk,

Sorry to hear you're having trouble. To clarify, your issue is not related to this one:

[2021-10-07 22:22] grepsedawk commented on #6456
Nope! It's a read-write file system!

[2021-10-08 00:06] #4809 closed

[2021-10-08 11:49] lldelisle opened #6459 "`aws s3 ls --recursive` gives duplicated lines"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When I ru

[2021-10-08 14:17] Adnan029 opened #6460 "AWS CLI not taking parameter group when passing through."
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to d

[2021-10-08 19:27] mokhirashakira opened #6461 "aws ecr describe-image-scan-findings throws a ascii' codec can't encode character"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ X ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
`aws ec

[2021-10-08 20:20] kdaily commented on #6461
Hi @mokhirashakira,

I tried this with another command that also had a similar issue. Could you try to prepend your command with `LANG="en_US.UTF-8"` to see if forcing it to use UTF-8 resolves?

You may need to (as it looks like you previously did to check the locale) override the entrypoint into the container.

Try something like:

[code]

Then:

[code]

[2021-10-08 21:29] nateprewitt commented on #5701
Good news! We've recently refactored a large portion of our release process which made getting this fix out possible. We've published today's releases using it and the metadata is now available for awscli, boto3, and botocore. s3transfer doesn't release on a regular cadence, but it will also see the updates automatically in its next release.

Please let us know if you're still seeing any issues, o

[2021-10-08 22:21] kdaily commented on #6461
Done. I removed the revisions of your original post and mine that had the repo names as well.

[2021-10-08 22:24] mokhirashakira commented on #6461
Thank you!

[2021-10-08 22:26] m4dc4p commented on #4982
Breaks my process. Thanks a lot.

[2021-10-08 22:50] kdaily commented on #6452
Hi @nngabriel,

The request and response look OK, so it doesn't appear to be an issue with the AWS CLI or the Python SDK. I can pass this information on to the WorkDocs service team.

[2021-10-08 23:48] nngabriel commented on #6452
Sure. But doesn't make a difference
aws workdocs describe-notification-subscriptions --organization-id d-926772910c --profile ts-demos --limit 999
{
    "Subscriptions": []
}

[2021-10-09 18:26] Adnan029 commented on #6460
Hi @tim-finnigan ,

Thanks for the quick response.

Yes, The mentioned DB parameter group is existing one.

Please find the attached screenshot
![image](https://user-images.githubusercontent.com/92168405/136669674-fe46d5c2-fc23-4564-87f3-21093cd5abbe.png)

Please find the below output after using `--debug`

[code]

[2021-10-11 06:33] uriborn commented on #6457
Thank you for your reply.
I understand the current situation.

I was able to solve the problem by using the previous version.
[code]

[2021-10-11 10:27] stilvoid opened #6464 "CloudControl fails with code 301 for some resource types"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
For some

[2021-10-11 19:13] kdaily commented on #6457
Thanks @uriborn, closing this for now. Please let us know in a new issue if you have any other problems.

[2021-10-11 19:13] #6457 closed

[2021-10-11 20:04] tim-finnigan commented on #6464
Hi @stilvoid, thanks for bringing this to our attention.

After some research I found that `AWS::S3::Bucket` is currently not listed here in the Cloud Control API supported resources:
https://docs.aws.amazon.com/cloudcontrolapi/latest/userguide/supported-resources.html

So it’s interesting that the `list-resources` command works for that resource. But we have seen inconsistent behavior: `get-resou

[2021-10-11 20:04] tim-finnigan commented on #6464
D30346971

[2021-10-12 00:42] SteveMullen opened #6467 "SignatureDoesNotMatch error report"
I'm running into the SignatureDoesNotMatch problem.

upload_dir(309): AwsException AwsRequestId [3EFB9AC71769F831] AwsErrorType [client] AwsErrorCode [SignatureDoesNotMatch]

My access key and secret key do not have a '+' character.  I just upgraded to php 8.  I don't see why this would matter - but maybe.

[2021-10-12 05:23] raviagashe commented on #423
This is still an issue and a needed feature

[2021-10-12 10:25] marxjohnson opened #6468 "start-backup-job for EFS creates a aws-backup-restore_* subdirectory when newFileSystem=true"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
The [docu

[2021-10-12 21:14] msporleder opened #6470 "ecs run-task often times out or fails when task is defined with s3 environment files"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
ecs fails

[2021-10-13 02:28] jgournet commented on #4685
I've been using the example provided some time ago, but it is now failing on the latest python (3.10) alpine release.
Anyone would be able to know why ? so we can open a ticket with the relevant party...

Dockerfile used:
[code]

Can't paste the error message as it's a few pages long

[2021-10-13 05:35] dhruv459 opened #6473 "'Instances' object missing from "elbv2 describe-load-balancers"/ALB json result"
"elb describe-load-balancers" used to return List<Instances> but "elbv2 describe-load-balancers" is not returning them. We switched classic LB to application LB and now we cannot have compatibility between elasticloadbalancingv2 and elasticloadbalancing.

 Is there any work around to get instances from LB url? Our current method (with elb) is to get all load balancer and then find the target load

[2021-10-13 12:27] vinod827 opened #6475 "Support for AWS STS AssumeRole is required in the aws-cli docker image"
**Is your feature request related to a problem? Please describe.**
I have written my own docker image using AmazonLinux:2 as base image and then customized that to have aws-cli library. I was passing the .aws credentials as a volume mount to that container so that it can used and to assume role using the AWS STS service.

Can we have similar thing in this aws-cli docker image, where by passing the

[2021-10-13 18:46] stobrien89 commented on #6470
Hi @msporleder,

Sorry to hear about the issues.  I know this would be difficult to capture because of the infrequency, but would it be possible for you to provide debug logs (please obscure any sensitive info) by appending `--debug` to your ecs command?  Even logs from a successful command would be helpful, as we could see if there's anything from a configuration standpoint that we could adjust i

[2021-10-13 19:01] msporleder commented on #6470
I will see what I can do but --debug logs to stdout so it messes up my parsing of the output to detect this error at all

[2021-10-13 20:30] tyggna opened #6477 "aws elbv2 register-target does not work with ALB target type"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
using aws

[2021-10-13 22:46] kdaily commented on #6456
Just checking in here, I've reached out to the ECS team, waiting to hear back.

[2021-10-14 00:30] mlevit opened #6478 "QuickSight ARN and UserName is N/A non-federated users"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
ARN and u

[2021-10-14 00:54] satyam-sareen commented on #1083
3 years later, still the error persists
used boto3 with same parametes as above and got this error!

[2021-10-14 04:00] jcatana commented on #4972
Not having a way to change this is one of those mildly annoying things that becomes infuriating because of how simple it should be. You read the docs and try to disable it, but nowhere does it state it doesn't apply to `help` output.
Any updates?

[2021-10-14 08:38] #6468 closed, assigned to stobrien89

[2021-10-14 10:36] Da-1kun commented on #6012
@stobrien89 @kdaily @jlax47
I made a PR, could you check it ?

[2021-10-14 15:09] djwgit opened #6480 "aws s3 slows down after a while, back to normal after reboot mac"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to d

[2021-10-14 17:55] davidparks21 commented on #1270
There's an [environment variable option](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.html) for specifying the endpoint, I typically create a script called `aws3` and put the following in:

[code]
I avoid using `alias` because you can't use it as easily with piped commands like `xargs`.

Of course, specified in the profile would be better. But until that days comes, there

[2021-10-14 22:34] kdaily commented on #6475
Hi @vinod827,

Thanks for your post. The AWS CLI already supports this through named profiles. If you have a profile with a `role_arn` parameter set in it, you don't need to run any other assume role calls. Instead of passing in a role ARN, you could pass in a profile name to assume.

You can read more about this here:

https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-role.html

Ther

[2021-10-15 02:11] kaihendry opened #6483 "Log viewer"
When I perform a aws logs get-query-results --query-id 653f78fd-31c9-425e-b4bf-80f3b38557f1 it looks horrendous.

*  --output text # doesn't really help
* I've noticed via Github search doing  `aws logs get-query-results --query-id 6... --query "results[].merge({separator: ',', value: value}).*[]"` which is also awful

**Describe the solution you'd like**
A developer experience on the cli which do

[2021-10-15 05:10] trogau opened #6484 "Updating Cognito User Pool EmailConfiguration->ConfigurationSet changes other settings outside this scope"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Updating

[2021-10-15 08:26] jbernales5 opened #6485 "Cognito-idp calls are forcefully routed through IPv6"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
When perf

[2021-10-15 14:27] AjkayAlan commented on #4884
FYI, per https://aws.amazon.com/blogs/mt/programmatically-managing-alternate-contacts-on-member-accounts-with-aws-organizations/, alternate contacts can now be managed via API.

It looks like this is available in newer versions of the CLI (https://awscli.amazonaws.com/v2/documentation/api/latest/reference/account/index.html).

[2021-10-15 18:29] stobrien89 commented on #6477
Hi @tyggna,

Sorry to hear you're having issues.  I'm currently reaching out to the ELB team about this— I'll let you know as soon as I have an update.

[2021-10-15 21:14] matteoolivi opened #6486 "Push command for ECR public repos displays wrong region?"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to d

[2021-10-15 22:07] stobrien89 commented on #6470
Hi @msporleder,

Thanks for the additional information!  It looks like this may be a latency issue between ecs and S3— The CLI isn't making any calls to s3, so we're unable to affect this using s3-specific configuration settings.  I can raise this with the ECS team, but we'll need debug logs for an instance where it fails.  I believe they'll be able to trace the request/response in greater detail

[2021-10-15 22:25] nateprewitt commented on #5701
Resolving since the metadata has been available for the last week and seems to be working correctly. Please let us know if you encounter any more issues.

[2021-10-15 22:25] #5701 closed

[2021-10-15 22:35] msporleder commented on #6470
Yeah I agree that it is between ECS and S3.  Can I really be the only person hitting this?

Anyway do you want request id's from me?  I have a bunch but they are requests to ECS I think -- not the internal requests to s3.  I can provide these all day.  :/

'x-amzn-RequestId': '09a5997c-7df1-4c03-8856-be70c0f74001'
'x-amzn-RequestId': '1ceb7adc-367e-469e-902f-07868c691f24'
'x-amzn-RequestId': '339e

[2021-10-15 23:14] msporleder commented on #6470
@stobrien89 okay those should all be examples of such a case (within the last few hours of posting)

[2021-10-15 23:37] stobrien89 commented on #6483
Hi @kaihendry,

Thanks for reaching out!  I think this is a reasonable request.  There might be some improvements that could be made on the CloudWatch side of things as well, but I think we could possibly do something with the output to make it a bit more legible.

[2021-10-15 23:43] stobrien89 commented on #6485
Hi @jbernales5,

Sorry to hear you're having issues.  Would it be possible for your to provide debug logs by appending `--debug` to your cognito command?  Please obscure any sensitive information, such as account numbers.  Thanks!

[2021-10-16 00:43] msporleder commented on #6470
more examples
'x-amzn-RequestId': '0e5395bd-b898-4532-b4a9-324b50daee5e'
'x-amzn-RequestId': '595fe612-0c05-45a7-a149-bb71006f3cc9'

[2021-10-16 04:18] #6484 closed

[2021-10-16 07:54] jbernales5 commented on #6485
There you go @stobrien89. Thanks for the interest put into this!
[code]

[2021-10-16 13:41] john-aws opened #6487 "All documented awscli examples are Mac/Linux-specific, do not work on Windows"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
The awscl

[2021-10-16 20:05] #5592 closed

[2021-10-17 17:22] roman-verbit-ai commented on #5409
+1

[2021-10-18 19:33] tim-finnigan commented on #6486
Hi @matteoolivi, thanks for reaching out. What you are seeing is the expected behavior, as noted [here](https://docs.aws.amazon.com/AmazonECR/latest/public/public-registries.html#public-registry-auth) in the user guide:

This is also documented [here](https://docs.aws.amazon.com/AmazonECR/latest/public/getting-started-cli.html#cli-authenticate-registry) in a quick start guide for ECR Public:

Note

[2021-10-18 20:23] kdaily commented on #6487
Hi @john-aws,

Thanks for the feedback. The [examples section](https://docs.aws.amazon.com/cli/latest/userguide/welcome-examples.html) of the User Guide hints that examples there are for Linux (based on the prompting style), and generally most teams provide Linux-compatible examples.

Our reference guide is currently a static site that is generated dynamically based on the current API service desc

[2021-10-19 00:31] #6473 closed

[2021-10-19 03:52] NotoriousRebel commented on #3990
@justnance Any updates?

[2021-10-20 05:39] wljackhero opened #6489 "[Errno 17] File exists: /home/xxxx/.aws/cache"
Confirm by changing [ ] to [x] below:
- [ x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to

[2021-10-20 07:25] micrump opened #6490 "Simplify ECR image scan result processing"
There are multiple blog posts on how you can react on Docker image processing results. One example is:
[code]
Copied from https://medium.com/@sahangunathilaka/scan-docker-images-in-amazon-ecr-and-retrieve-scan-findings-e5a3fe4e7afa

The issue with this is that parsing the returned JSON is very error prone as the structure of the result might change without notice. Also copying this snippet to 1000

[2021-10-20 14:02] msporleder commented on #6470
I haven't seen it directly but I am suspicious that secrets manager might have similar timeout issues

[2021-10-20 16:08] eichelkrauta opened #6491 "AWS::ECR::PublicRepository unrecognized resource type"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
I saw tha

[2021-10-20 17:54] tim-finnigan commented on #6489
Hi @wljackhero, thanks for reaching out. Do any CLI commands work or just not that one? If you can provide the debug log by adding `--debug` to your command, that will help give us more insight into this issue.

I suggest verifying that you have the the latest version of the CLI installed ([instructions here](https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-linux.html)), and confirm

[2021-10-20 17:57] tim-finnigan commented on #6491
Hi @eichelkrauta, thanks for reaching out. Which region is your CLI configured to? If you’re not using us-east-1, then that is likely why you’re seeing this error.

This was addressed in another issue here: https://github.com/awsdocs/aws-cloudformation-user-guide/issues/956

As noted in [this comment](https://github.com/awsdocs/aws-cloudformation-user-guide/issues/956#issuecomment-813501383):

Tha

[2021-10-20 18:15] nic-hima commented on #3180
This would be a huge enhancement!

[2021-10-20 19:24] tim-finnigan commented on #6491
Glad to hear that helped! I'll go ahead and close this issue then. If you want to add any feedback or comments to that open request linked above then please feel free to do so.

[2021-10-20 19:24] #6491 closed

[2021-10-20 19:40] tim-finnigan commented on #3180
Hi everyone, thanks for your patience regarding this feature request. There is clearly a lot of demand to add this. I raised this internally with the RDS team and currently waiting on a response. In the meantime, I’ll go ahead and transfer this to our shared SDK repository as it is a cross-SDK request.

[2021-10-20 23:16] adzney commented on #6485
ok thank you

On Thu, 21 Oct 2021, 7:13 AM stobrien89 ***@***.***> wrote:

[2021-10-20 23:56] stobrien89 commented on #6490
Hi @micrump,

Thanks for reaching out!  I can see how that's a bit cumbersome.  Can you elaborate on "the structure of the result might change without notice"?

[2021-10-21 06:12] micrump commented on #6490
I can imagine that the group that implements the image scan, might change the structure of the JSON sometime in the future. Of course this should be done in a backwards compatible way, but we all know that this cannot always be guaranteed. In this case thousands of pipelines would break and would have to be adapted. When the parsing is done inside the AWS CLI, the group responsible for the JSON fo

[2021-10-21 15:35] josiahjohnston commented on #2122
Streaming compression is fine for smaller files. But if the compressed file is larger than ~100MiB, isn't multi-part uploads preferable and advised according to [the docs](https://docs.aws.amazon.com/AmazonS3/latest/userguide/mpuoverview.html)?

[2021-10-21 16:59] isaiahtaylor opened #6495 "honeycode list-table-rows returns invalid body request"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
[code]
[c

[2021-10-21 17:04] nateprewitt commented on #6495
Hi @isaiahtaylor, this was addressed yesterday in boto/botocore#2511 yesterday with the release of Botocore 1.22.0. The issue is now resolved in Boto3 1.19.0+ and the AWS CLI 1.21.0+.

These changes will be available in the next release of the CLI v2 which is currently scheduled for today.

[2021-10-22 12:11] magraeber opened #6498 "S3 cp cache-control parameter option does not work"
I noticed recently in our deployment pipelines that setting cache-control for single files in S3 is not working as it used to be.

I tested it locally and can reproduce this unexpected behaviour.

My installed versions:

[code]

Here I try to set cache control headers with this command (it used to work for many months):

[code]

But now there is no cache-control set:

[code]

Which results in unex

[2021-10-22 16:04] #6480 closed, assigned to tim-finnigan

[2021-10-22 20:39] buchs opened #6499 "Documentation shortcoming"
https://docs.aws.amazon.com/cli/latest/reference/logs/describe-log-streams.html

does not document what happens to Next Token (actually nextForwardToken) when one reaches the end of the stream. In fact, one must test for the returned nextForwardToken to be unchanged from the provided --next-token argument. This is very erratic, awkward behavior which does not correspond to how paging is done elsew

[2021-10-24 00:11] nCubed commented on #709
Where in the docs does it state `aws s3 sync` has opted out of the global parameters?

Not on the [sync](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/s3/sync.html) docs. Not on the [global](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/index.html) docs. 🤢 🤮 🤬

Just spent the past hour+ trying to figure out why no json output; this is about the only real r

[2021-10-25 13:03] gaul opened #6500 "AWS CLI slow startup"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**

AWS CLI

[2021-10-25 14:00] jlongo62 opened #6502 "AWS Credentials should be stored in an encrypted form."
**Is your feature request related to a problem? Please describe.**
Credentials are stored in plain text in .aws\credentials .
**Storing credentials in clear text is a CAT 1 security violation.**

**Describe the solution you'd like**
Using the .aws\credentials file if ok.
However, the aws_access_key_id and aws_secret_access_key should be stored in encrypted text.
Since this is python, the Keyring A

[2021-10-25 16:35] #6502 closed, assigned to kdaily

[2021-10-25 16:50] specular-scullion opened #6503 "Integrated help synopsis mentions <command>, however it doesn't mention available values for the command"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear a

[2021-10-25 23:58] kevinyang8 opened #6504 "Update FSx create_file_system documentation"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is.

N/A

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Update FSx create_file_system documentation

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've cons

[2021-10-26 12:44] 09953868358 opened #6506 "open"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
A clear a

[2021-10-26 15:37] #6506 closed, assigned to tim-finnigan

[2021-10-26 19:05] kyleknap opened #6507 "[v2] Increase prompt-toolkit version range to support 3.x"
Brought up in this [comment](https://github.com/aws/aws-cli/pull/6352#issuecomment-950389706), the request is to increase the version range of `prompt-toolkit` to use major version 3 as we are still on version 2. According to the [CHANGELOG](https://github.com/prompt-toolkit/python-prompt-toolkit/blob/df8246cf03deec681a521c03a12a68d712158e24/CHANGELOG#L334), it does not seem it would be too diffic

[2021-10-27 06:00] Sivakami3 opened #6509 "Invoking aws lambda(with SSL_CERT_FILE) from aws cli - fails with SSL Verify failed error"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Added the

[2021-10-27 06:02] chitraanshpopli opened #6510 "Redshift authorize-endpoint-access command returns the error 'Invalid choice'"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
AWS Redsh

[2021-10-27 16:35] #6510 closed, assigned to kdaily

[2021-10-27 17:25] felipe-muner opened #6512 "Flag --no-verify-ssl is not working"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
The flag

[2021-10-27 18:47] ryangarner opened #6514 "aws sagemaker studio lifecycle config is not available on macOS"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
`aws sage

[2021-10-28 05:03] #6489 closed, assigned to tim-finnigan

[2021-10-28 07:22] #6498 closed, assigned to tim-finnigan

[2021-10-28 13:23] ConnorKirk opened #6516 "Update aws cloudformation package docs to include missing resources"
Confirm by changing [ ] to [x] below:
- [X] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to d

[2021-10-29 15:57] #6514 closed, assigned to stobrien89

[2021-10-29 18:39] tim-finnigan commented on #1331
Hi @jlchereau, thanks for your patience. Is this request still something that you need? There hasn’t been any community engagement on this issue so I just wanted to make sure. If so then I can bring this up with the service team to see if they would consider adding a waiter for internet-gateway-deleted.

[2021-10-29 18:41] jlchereau commented on #1331
@tim-finnigan, thanks but I have now switched to the cdk.

[2021-10-29 19:03] tim-finnigan commented on #1331
Ok thanks @jlchereau for letting me know, I'll go ahead and close this then.

[2021-10-29 19:03] #1331 closed

[2021-10-29 19:10] kdaily commented on #6510
Thanks for the feedback, @chitraanshpopli - I agree that would be useful. We've explored a few options to surface that kind of information. Our CHANGELOG (for v2 [here](https://github.com/aws/aws-cli/blob/v2/CHANGELOG.rst)) has some of those details when APIs change, but not which specific operations/parameters were added or removed.

[2021-10-29 19:17] kdaily commented on #4777
Hi @herbertgoto,

I still cannot reproduce. If you can provide debug logs and the command line steps to reproduce the issue, I can take a further look.

It might be correct what @truongtd6285 suggested. Depending on what you're trying to do (use a different portal, or different user, etc), you may also need to log out of your browser. As noted previously, the SSO configuration only supports one us

[2021-10-29 19:18] kdaily commented on #4777
Similar for @yannickmorel and @pulberg - if you can provide debug logs and the steps to reproduce, I'll take a closer look!

[2021-10-29 23:49] tim-finnigan commented on #1494
This issue has been open for a long time without much engagement. @vikas027 can you or anyone who commented here provide debug logs to help give us more insight into this issue? If so then we can go ahead and reopen this. I tried to reproduce but wasn’t able to.

[2021-10-30 00:06] tim-finnigan commented on #1368
Thanks everyone who has contributed feedback and solutions to this issue. It looks like setting `LC_ALL=en_US.UTF-8` as mentioned in [this comment](https://github.com/aws/aws-cli/issues/1368#issuecomment-232766644) has solved the issue for many users. For more context please note [this documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/topic/config-vars.html#locale):

For thos

[2021-10-30 00:06] #1368 closed

[2021-10-30 03:57] chitraanshpopli commented on #6510
Got it. Appreciate the help.

[2021-10-30 05:33] gaul commented on #6500
If AWS CLI is executing ec2 code when a user is interacting with s3 then this sounds like an easy optimization.  Have you verified this with a profiler?  But generally speaking programs should not be slower just because they include more code.

[2021-10-30 07:08] felipe-muner commented on #6512
Hello @kdaily!

Im working on this today, I realized I need as well to install the `xcode` and then update my `OpenSSL`...

I will do it first then I update here with more info from my side.

Thank you for your fast feedback and sorry for the late response from my side...

[2021-10-30 07:08] vikas027 commented on #1494
Hey @tim-finnigan ,

The issue was opened six years ago, maybe it got fixed in the newer versions of the CLI :)

[2021-10-30 07:47] felipe-muner commented on #6512
I updated my mac to `Monterey 12.0.1`, xcode and openSSL.

this is the output of when running with `--debug`:

`felipemuner@felipes-MacBook-Pro scripts % aws --endpoint-url='https://localhost:7147' --no-verify-ssl s3api create-bucket --bucket "kyc" --region eu-west-1 --debug
2021-10-30 14:45:41,339 - MainThread - awscli.clidriver - DEBUG - CLI version: aws-cli/2.3.1 Python/3.8.8 Darwin/21.1.0 exe/

[2021-10-30 07:49] felipe-muner commented on #6512
with no endpoint flag, I have it:

![image](https://user-images.githubusercontent.com/2159694/139524958-19cc51ae-afb1-458d-ab63-83e00e942c1a.png)

[2021-10-30 08:01] muhqu commented on #1295
@tim-finnigan as you’ve closed #2849 in favor of this feature request I’m commenting here.

#2849 was about the problem that the waiter times out when the resource comes to a state when the condition can no longer be met. I mean resource types have defined state transitions. E.g. an EC2 instance can go from…
* launching -> running
* launching -> terminated
* running -> stopped
* running -> termina

[2021-10-30 10:13] dkarlovi commented on #2501
_(I hope this is not interpreted as whining because it's not meant to be)_

I'm starting with my AWS journey again (I've last used it 5+ years ago last) and coming from heavy use of Azure in the meantime. It's a bit surprising to me this is even an issue since Microsoft provides not just native packages for several key distros, they provide native repos for their respective package managers, meani

[2021-10-30 12:29] nkadel commented on #2501
I've been keeping a suite of aws-cli building tools tools up-to-date, as of last weekend, at https://github.com/nkadel/awsclirepo. It's a pain in the neck because of the python module dependencies, and involves about 20 python modules.

[2021-10-30 12:31] nkadel commented on #2501
The "uservoice" URL for aws-cli cited above as the ongoing conversation for this issue is dead-on-arrival.

[2021-10-30 15:15] tim-finnigan commented on #1295
Hi @muhqu, thanks for following up. I may have misunderstood your original post. I’m going to reopen #2849 and respond there so that we can keep this issue focused on the feature request to expose parameters for delay/max attempts.

[2021-10-30 15:24] tim-finnigan commented on #2849
Hi @muhqu thanks for sharing more info here: https://github.com/aws/aws-cli/issues/1295#issuecomment-955169339.

I’m trying to think of scenarios where your EC2 instances are getting terminated. Could you expand a bit more on your use case here?

Do you think using the `instance-terminated` wait command would help with what you’re trying to do? https://awscli.amazonaws.com/v2/documentation/api/lat

[2021-10-30 15:51] muhqu commented on #2849
I faced the issue when I was launching newly created AMIs that needed to be tested with different instance types. So, basically if there is an issue in the startup scripts of the AMI the instance might fail to start and go straight from launching to terminating while never reaching the running state. So my client code that needed to wait for the instance to become available always reached the time

[2021-10-31 02:08] adamantike commented on #5120
I'm also interested on finding a workaround/fix for this security concern. At the moment (with version `aws-cli/2.3.2`), the following command fails as the provided UID:GID doesn't have permission to the container's `/root` folder:

[code]

[2021-10-31 20:12] kanocarra commented on #5106
Would also love this feature as we use CircleCI. Resorting to just using the official node image from dockerhub which is not ideal

[2021-10-31 20:13] kanocarra commented on #5106
Would also love this feature as we use CircleCI. Resorting to just using the official node image from dockerhub which is not ideal

[2021-11-01 12:21] fhuaddeterminas commented on #4835
Hi there

Can this thing be kindly created already?

It is very necessary, please!!

[2021-11-01 17:04] tim-finnigan commented on #2849
Hi @muhqu, thanks for sharing that information. I see the point that you’re making. Is this issue of quickly terminating instances something that you often encounter? This troubleshooting guide on the topic might be helpful:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/troubleshooting-launch.html#troubleshooting-launch-internal

[2021-11-01 18:09] #6499 closed

[2021-11-01 21:04] #6503 closed

[2021-11-01 23:47] tim-finnigan commented on #6500
I created a new issue here to track this topic: https://github.com/boto/botocore/issues/2553

I want to consolidate this issue and https://github.com/boto/boto3/issues/3061 in the botocore repo as both boto3 and the CLI rely on botocore for their core functionality.

[2021-11-01 23:47] #6500 closed

[2021-11-02 07:53] Vikas-Peri commented on #912
+1

[2021-11-02 08:44] yuri1969 opened #6523 "CLI v2 fails to send an OpenAPI file as an API Gateway REST API update"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
The CLI v

[2021-11-02 09:12] rsandham-netapp commented on #2035
Remove --filters reference from the docs: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/autoscaling/describe-auto-scaling-groups.html

[2021-11-02 09:37] alexandernst commented on #6048
Hey @stobrien89 😃. It's me again, doing my bi-monthly ping. Do you know if any work was done on this issue?

[2021-11-02 15:11] msandu62 opened #6524 "Sharing AMI with OrganizationArn not available on aws cli v2"
This feature https://aws.amazon.com/about-aws/whats-new/2021/10/amazon-ec2-amazon-machine-images-organizations/
is not available in aws cli v2: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/ec2/modify-image-attribute.html

Share AMI with OrganizationArn using aws cli v2.

[2021-11-02 15:29] mmgdm commented on #1494
Hi all,

I am still getting this issue on Fargate on ECS, when creating a task. Task is in provisioning state when I run:

aws ecs wait tasks-running --cluster <cluster_name> --tasks <task_arn>

And the response is:

Waiter TasksRunning failed: Waiter encountered a terminal failure state: For expression "tasks[].lastStatus" we matched expected path: "STOPPED" at least once

Does anyone have an ide

[2021-11-02 15:51] veben commented on #4356
I encounter the same problem, to download large files with boto3 behind a proxy.
Can you upload the code that solved your issue?
Thanks in advance

[2021-11-02 16:41] kdaily commented on #6524
Hi @msandu62,

I can see that the feature is available, both through the documentation as well as the command line help. The instructions for using this feature are here:

https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/share-amis-with-organizations-and-OUs.html#share-amis-org-ou-aws-cli

Can you provide some more information, please?

**CLI version number**
Use `aws --version`.

**Platform/OS

[2021-11-02 17:02] don-code commented on #6524
I'm also looking at this, since this would be a killer feature for my team. The feature exists on the latest CLI v1 (1.21.8), but not on the latest CLI v2 (2.3.2). The changelogs for both seem to corroborate that.

On v2:
[code]

On v1:
[code]

[2021-11-02 17:05] kdaily commented on #6524
Apologies, @don-code and @msandu62, that's my mistake. I looked for the organizational unit changes, and there are similar parameters in the `LaunchPermissions` parameter. This feature was just released last Friday, and hasn't made it into the AWS CLI v2 release yet. It will be in the next release, should be today.

[2021-11-02 17:13] HariSekhon opened #6526 "CLIv2 aws batch list-jobs doesn't support --filters switch, despite documentation showing it"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**

CLIv2 do

[2021-11-02 18:04] kdaily commented on #6526
Hi @HariSekhon,

Thanks for your question. This parameter was added in August 2021. Your version (`2.2.22`) was released in July 2021, so you'll need to update your AWS CLI v2 version.

[2021-11-02 18:05] #6526 closed

[2021-11-02 18:32] kdaily commented on #2035
Hi @rsandham-netapp,

The API does support filters as of about three weeks ago!

https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeAutoScalingGroups.html

[2021-11-02 20:10] tim-finnigan commented on #6523
Hi @yuri1969, thanks for reaching out. I’m trying to reproduce this error you're seeing. Could you provide the YAML file you are using? (With any sensitive information redacted.)

[2021-11-02 20:18] tim-finnigan commented on #1494
Hi @mmgdm, could you provide the debug logs here by adding `--debug` to your command?

[2021-11-02 20:44] nateprewitt commented on #5087
I posted a quick update in the linked PR, but we're expecting this to be addressed in the next release of the CLI. Please let us know if you have any questions in the meantime, otherwise we'll resolve this after tomorrow's release.

[2021-11-02 21:45] muhqu commented on #2849
No, I actually don’t remember when I last started an EC2 instance… it’s been 4years since I filed this feature request. 😄

[2021-11-02 21:57] tim-finnigan commented on #2849
Hi @muhqu ok I understand! Thanks again for your patience and sorry it has taken so long for us to follow up here.

I think we can leave this feature request open for now and see if anyone else has anything to add to this topic.

[2021-11-02 23:39] kdaily commented on #5758
Is this still an issue for you, @programmer04? Can you confirm what @skyzyx noted is that it occurs when installed via Homebrew? If you install via one of the supported installation mechanisms, does it still occur?

@skyzyx, I appreciate the feedback. We have proposed a new source distribution (#6352) that addresses package maintainers ability to build from source. The Homebrew team is aware of th

[2021-11-03 08:42] yuri1969 commented on #6523
Hello @tim-finnigan, I went through the `--debug` outputs of v1 and v2 again. Now it seems obvious the issue is related to the way [the v2 treats binary parameters](https://docs.aws.amazon.com/cli/latest/userguide/cliv2-migration.html#cliv2-migration-binaryparam). The [restapis PUT](https://docs.aws.amazon.com/apigateway/api-reference/link-relation/restapi-put/) request requires the body to be pas

[2021-11-03 08:51] msandu62 commented on #6524
If the next release (today) will fix the missing feature from aws cli v2, we can close this :)
thanks

[2021-11-03 08:51] #6524 closed

[2021-11-03 10:53] programmer04 commented on #5758
It occurs when is not installed from pkg (which is notarized) available since version
[code]
thanks for introducing this notarized pkg.

Hence I'm prosing changes in the formula https://github.com/Homebrew/homebrew-cask/pull/113686 to install AWS `session-manager-plugin` from notarized pkg instead of zip. Please check it, it'll resolve this issue.

Moreover, @kdaily could the AWS team bump the ver

[2021-11-03 11:04] programmer04 commented on #5758
My PR https://github.com/Homebrew/homebrew-cask/pull/113686 has been already merged. Thus this issue can be considered as resolved.

[2021-11-03 11:04] #5758 closed

[2021-11-03 17:53] mmgdm commented on #1494
Hi @tim-finnigan

Sure. Here is the debug output from todays task failure ( not the same one as yesterday ) so it does occur on daily basis but not on all tasks, just one out of 10 or so ( sadly I do not have the exact number yet ).

Here is the debug output:

`2021-11-03 18:50:52,354 - MainThread - awscli.clidriver - DEBUG - CLI version: aws-cli/2.3.2 Python/3.9.7 Darwin/20.6.0 source/x86_64
2021

[2021-11-03 18:23] tim-finnigan commented on #1494
Hi @mmgdm thanks for providing that info. Just to give more context, here is the definition for the ecs tasks-running waiter: https://github.com/boto/botocore/blob/develop/botocore/data/ecs/2014-11-13/waiters-2.json#L4

So that is where it says if tasks[].lastStatus is STOPPED then the waiter has entered a failed state and ends.

Can you confirm that your clusters are running when using the tasks-

[2021-11-03 20:28] #6523 closed

[2021-11-03 21:47] nateprewitt commented on #5087
This change is now available in 1.21.10 and later. Please feel free to open a new issue if you have more feedback or concerns. Thanks!

[2021-11-03 21:47] #5087 closed

[2021-11-03 21:57] stobrien89 commented on #6048
Hi @alexandernst,

Thanks for checking in!  I just followed-up on the internal inquiry about this and I can say that there's a good chance this could be ready before you check in again.  I can see this is actively being worked on, but unfortunately cannot share timelines.  I'll let you know as soon as I hear anything else.

[2021-11-03 23:04] #6477 closed

[2021-11-03 23:33] vcsekhar commented on #5769
Just wanted to share an update -

Mac OS Big Sur V 11.6 - M1 processor > Reported issue still persists and above suggestions (
1. sudo chmod -R 755 aws-cli (from post dated 03 Nov 2020)
2. chmod -R o+rx /usr/local/aws-cli/ (from post dated 1 Jul 2021)
) didn't work.

My Mac still keeps giving below output for aws --version

zsh: command not found: aws

[2021-11-04 00:18] bgray-onica commented on #5769
Sounds like it's a different issue then and you should open a new issue instead of piggybacking on this one @vcsekhar. This specifically deals with Linux and umask differences.

[2021-11-04 08:34] mmgdm commented on #1494
Hi @tim-finnigan

I see, that makes more sense now. Actually the task creation failed due to not being able to pull some docker images.

As I see the cli command does not return any output in order to be able to see the error that actually happened. I guess this is the way to see what went wrong?

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/stopped-task-errors.html

[2021-11-04 10:38] tomekit commented on #1777
In my case I had to use: `aws ec2 describe-regions --output text | cut -f2`
AWS cli version: `aws-cli/2.1.38 Python/3.8.8 Linux/5.11.0-38-generic exe/x86_64.ubuntu.21 prompt/off`

[2021-11-04 16:30] tim-finnigan commented on #1494
Hi @mmgdm, yes that documentation should help with investigating those errors. Also looking back at your debug log, I see now where it says: `"stopCode":"TaskFailedToStart","stoppedAt":1.635960856252E9,"stoppedReason":"CannotPullContainerError:...`

So in your case this section on CannotPullContainer task errors should help: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task_cannot_p

[2021-11-04 16:30] #1494 closed

[2021-11-04 19:51] tim-finnigan commented on #1518
It looks like this issue hasn’t had any community engagement in the past few years. @quiver is this request still something you would like to see added?

[2021-11-04 20:36] tim-finnigan commented on #1542
I'd also like to see something like a `--source-files` parameter but found this one line bash loop to be a useful workaround for now:

`for file in $(cat filenames.txt); do {aws s3 cp $file s3://bucket-name } done`

(very similar to what @sp2410 mentioned earlier)

[2021-11-04 21:45] cheedallarajesh commented on #4742
I am too having same issue. It was working until last night.

**SSL validation failed for https://oidc.us-east-1.amazonaws.com/client/register [Errno 2] No such file or directory**

$ **aws configure sso --no-verify-ssl --debug**
2021-11-04 16:41:09,202 - MainThread - awscli.clidriver - DEBUG - CLI version: aws-cli/2.1.19 Python/3.7.9 Windows/10 exe/AMD64
2021-11-04 16:41:09,202 - MainThread - aws

[2021-11-04 23:04] kdaily commented on #6512
Hi @felipe-muner,

Can you tell me more about what exactly the endpoint is that you're providing? It definitely seems to be relevant to the issue. Having the debug logs when you do not provide the `--endpoint` flag would be useful here.

Thanks!

[2021-11-04 23:07] kdaily commented on #6516
I think that looks correct, @ConnorKirk - go for it and let me know when you have a PR up. Thanks!

[2021-11-04 23:10] kdaily commented on #6516
Looks like `AWS::AppSync::FunctionConfiguration` might also be missing?

[2021-11-05 00:03] gaul commented on #6500
A workaround that daemonizes the CLI:

* https://dzone.com/articles/how-i-made-aws-cli-300-faster-full-disclosure
* https://github.com/janakaud/aws-cli-repl

[2021-11-05 00:06] #6459 closed

[2021-11-05 07:29] nmiculinic commented on #6212
I have the same issue running Manjaro Linux. Sometimes it works, most of the time it does not. I click allow in the browser, yet it's like CLI hasn't received some event or something.

<details>
  <summary>debug output</summary>

[code]

</details>

[2021-11-05 07:52] lldelisle commented on #6459
Hi,
Sorry. I forgot to mention that this is not a Amazon aws but a Third-party endpoint.
The host is `--endpoint-url=https://s3.epfl.ch/`
May I send you the full debug by email?
Thanks

[2021-11-05 08:31] quiver commented on #1518
Not anymore.
Close this issue.

[2021-11-05 08:31] #1518 closed

[2021-11-05 15:27] tchager commented on #891
Any chance that this will ever be a reality?  Anyone come across a script to accomplish this?

[2021-11-05 15:54] tim-finnigan commented on #2045
Hi @pgriess thanks for your willingness to contribute. If you want to create a PR then I recommended reading the contributing guide here: https://github.com/aws/aws-cli/blob/master/CONTRIBUTING.md

You can expand on your proposed implementation here or in a PR. I think looking through these s3 sync customizations is a good place to start: https://github.com/aws/aws-cli/tree/develop/awscli/customiz

[2021-11-05 16:26] gnieboer commented on #4579
Can confirm this is occurring in most recent CLI v2.  This limit is NOT present in CLI v1 version 1.16.14 which we were using before attempting to upgrade to v2.

This prevents the discovery and handling of individual files that did not successfully transfer during a sync command (and for which also there is no log entry indicating failure... they show uploading but no error report and the file is

[2021-11-05 17:51] kdaily commented on #4579
@gnieboer, you're correct in that, sorry that I missed that in my initial response! I will pass along the feedback to the Snowball team that this is still causing issues for users.

[2021-11-05 17:54] kdaily commented on #6459
Unfortunately we cannot provide debugging or guidance on third party endpoints.

In other cases like this (for example with Ceph and BackBlaze), the endpoints were not written to the specifications that the AWS S3 endpoints do (for example, using `ListObjects` instead of `ListObjectsV2` for some operations). You'll need to reach out to the maintainer of the endpoint to assist further!

[2021-11-05 17:56] lldelisle commented on #6459
Thanks sorry I did not know.

[2021-11-05 17:58] gnieboer opened #6534 "SSL hostname error w/ 1.16.14 and snowball edge"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [X] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Attemptin

[2021-11-05 18:30] nkadel commented on #891
Wouldn't using "--no-exact-timestamps" provide what you need?

[2021-11-05 18:48] tchager commented on #891
Sadly not in this case.  We are uploading from two different servers where the file size also differs in small amount, but we don't want to upload from one if the other already has.  Ended up writing a little script that does what I want it to do.

`
#!/bin/bash

DATE=$(date "+%Y-%m-%d-%H-%M")
sourcedir="/some/nfs/dir"

echo $DATE  >> /var/log/s3

    rm -f s3ls.out
    rm -f nfsls.out

    aws s3

[2021-11-05 19:34] kdaily commented on #6534
Hi @gnieboer,

Looking into this. Can you confirm that this previously worked and recently start occurring?

[2021-11-05 19:44] kdaily commented on #6459
You're welcome. This issue seems similar, it might help your IT department or endpoint maintainer determine the underlying cause:

https://github.com/aws/aws-cli/issues/4268

[2021-11-05 19:57] gnieboer commented on #6534
This was the first time we attempted to use the SSL endpoint, so I don't have a scenario where we were able to get SSL to work.  But all *other* transfers/actions/syncing via the HTTP endpoint are working just fine, it's clearly just an SSL issue.

Traceback: Yes I was just looking at that myself actually...
awsrequest.py line 260
endpoint.py line 218
endpoint.py line 174

[2021-11-05 20:10] kdaily commented on #6534
Thanks @gnieboer, but I'll need to see farther up the stack trace than that! This might go back to something in `urllib3` or another library we depend on.

We do have a Python 3 MSI available, can you give that a try?

https://s3.amazonaws.com/aws-cli/AWSCLI64PY3-1.16.14.msi

[2021-11-05 20:23] gnieboer commented on #6534
Ah, I did not know there was an MSI specifically with PY3.  I will give that a try, I suspect that will patch my issue.

[2021-11-05 20:38] gnieboer commented on #6534
Confirmed transfer completed successfully w/ the PY3 version of 1.16.14 from the URL above.

I will close and hope this helps others on search, though I hope that the overall team gets the v2 CLI compatible with the Snowball Edge soon.

[2021-11-05 20:38] #6534 closed

[2021-11-05 21:03] #4777 closed

[2021-11-05 21:24] kdaily commented on #6534
Thanks @gnieboer, I will definitely pass on the details of this issue and the feedback to the Snowball team.

[2021-11-06 00:33] tim-finnigan commented on #6464
Hi @stilvoid, thanks for your patience. The resource type AWS::S3::Bucket has been added to the list of resource types supported by Cloud Control.

Using the latest version of the aws-cli (2.3.4) I’m able to run this command successfully:

`aws cloudcontrol get-resource --type-name AWS::S3::Bucket --identifier bucket_name`

I think we can go ahead and close this issue now. If you have any other qu

[2021-11-06 00:33] #6464 closed

[2021-11-06 08:56] bjhulst commented on #5554
It is not implemented yet and would still usefull to have implemented.

Right now there are only these options, **non are recursive**....
SYNOPSIS
            put-object-acl
          [--acl <value>]
          [--access-control-policy <value>]
          --bucket <value>
          [--content-md5 <value>]
          [--grant-full-control <value>]
          [--grant-read <value>]
          [--grant-re

[2021-11-06 08:58] bjhulst commented on #5554
Github-Actions bot: _If you find that this is still a problem,_
It is a feature request. :-)

[2021-11-06 11:21] matteoolivi commented on #6486
Dang, really sorry for this, I thought I had gone through all the relevant docs, I was obviously wrong.

[2021-11-08 04:30] Sivakami3 commented on #6509
Hi @kdaily,

We have added the certificate bundle to environment variable AWS_CA_BUNDLE, but the issue still persists.

Can you please reopen this case and guide us through this issue, since we are struck here.

Thanks

[2021-11-08 16:07] jewelsjacobs commented on #2681
I need this as well. Status?

[2021-11-08 16:56] tim-finnigan commented on #2060
It looks like this is the current error message you would see:

`An error occurred (UnauthorizedOperation) when calling the DescribeInstances operation: You are not authorized to perform this operation.`

@rvandegrift do you think that message is sufficient or did you have any other feedback?

[2021-11-08 17:18] ewan-realitymine commented on #1346
This is still an issue in the v2 cli, it's a real pain!

I don't think the current default is sensible. I understand the compatibility impact in updating this, but please put this behind a feature flag at least.

[2021-11-08 17:31] tim-finnigan commented on #2226
I just reached out to the Auto Scaling team for a response on this feature request. I will update this issue when we hear back.

[2021-11-08 17:58] tim-finnigan commented on #2237
This looks like a duplicate of https://github.com/aws/aws-cli/issues/1295. They are also requesting parameters to modify the delay and max attempts in wait commands so I think we should close this issue in favor of that one.

[2021-11-08 17:58] #2237 closed

[2021-11-08 18:05] rvandegrift commented on #2060
@tim-finnigan No - it might be better than before, but it's not correct.  That message would lead me to look at the IAM policies assigned to the instance profile role instead of the role's assume role policy.

@rsalmond's point in https://github.com/aws/aws-cli/issues/2060#issuecomment-328288614 seems right.  botocore should detect that the instance profile failed due to this misconfiguration, and

[2021-11-08 20:28] tim-finnigan commented on #2308
It looks like the original [documentation](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-cli-package.html) referenced does have `--use-json` in the example but the resulting template displayed is incorrectly in YAML. These docs are generated upstream so I reached out to the CloudFormation team to fix that.

The example here in our docs looks like it should also have `--u

[2021-11-08 20:28] tim-finnigan commented on #2308
P54926964

[2021-11-08 20:53] toly-k opened #6537 "CLI version 1.22.0 breaks aws eks update-kubeconfig"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [ x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
CI pipe

[2021-11-08 20:57] mhlic commented on #6537
I am seeing the same error even just running `aws`. Downgrading also fixes it for me.

[2021-11-08 20:59] MinhPhu0304 commented on #6537
I am seeing the same issue with ecr_login command too.

[2021-11-08 21:09] dlegr250 commented on #3625
Just ran into this today as well with a specific implementation where we are passing an image tag as a param and the image already exists so it throws the error about not updating.

The above solutions should work, but an alternative for my specific situation was to check if the image tag exists to avoid calling the `update-stack` method.

Some pseudocode, may be some minor issues since I'm typing

[2021-11-08 21:22] nateprewitt commented on #6537
Hi everyone,

This is the same issue as boto/botocore#2562. I've replied with info and mitigation steps [here](https://github.com/boto/botocore/issues/2562#issuecomment-963583290).

We're currently working on a fix, but CLI customers can either upgrade to `urllib3 >= 1.26.0` or `awscli < 1.22` to mitigate impact in the short term.

[2021-11-08 22:43] tim-finnigan commented on #2394
The available rds wait commands has expanded since the original post:

- db-cluster-snapshot-available
- db-cluster-snapshot-deleted
- db-instance-available
- db-instance-deleted
- db-snapshot-available
- db-snapshot-completed
- db-snapshot-deleted

I reached out to the RDS team with the feature request to add these waiters:

- db-cluster-available
- db-cluster-deleted

Please note we are actively

[2021-11-08 22:43] #2394 closed

[2021-11-09 00:11] nateprewitt commented on #6537
Botocore 1.23.1 has been released with fix for this. Please let us know if you're still experiencing issues.

[2021-11-09 16:01] tim-finnigan commented on #2308
The CloudFormation team has fixed their documentation. I think this issue can be closed once my PR gets reviewed and merged.

[2021-11-09 17:26] stobrien89 commented on #6509
Hi @Sivakami3,

Sorry to hear you're still having issues.  Here are a few things that might help us troubleshoot this further:

1. What does the Lambda function do and why does the SSL cert need to be included in a layer?
2.  Which certificate bundle are you using for the `AWS_CA_BUNDLE` environment variable?
3. Are you using a proxy?
4. Please provide debug logs from your latest step (using the `

[2021-11-09 17:45] tim-finnigan commented on #2444
Hi @theBull you can clear the session token in `.aws/credentials` if it is stored there.

[2021-11-09 18:08] nateprewitt commented on #6537
Now that we have things patched, I'm going to resolve this in favor of the original [botocore](https://github.com/boto/botocore/issues/2562) ticket. If you have any further concerns or feedback please feel free to add it there. Thanks!

[2021-11-09 18:08] #6537 closed

[2021-11-09 19:36] vergenzt opened #6538 "Missing automatic pagination for additional Quicksight list commands"
Following up to #5713, there are still a number of resources that appear to be missing paginators. In my case, I noticed that `list-users` doesn't pagination, however I was able to fetch a longer list based on which API responses may include a `NextToken` according to `botocore/data/quicksight/2018-04-01/service-2.json`.

## Missing paginators:
[code]

I generated the above by running the followin

[2021-11-09 21:25] tim-finnigan commented on #2723
It looks like this issue can now be closed as the `instance-deregistered` wait command is available: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/elb/wait/instance-deregistered.html

[2021-11-09 21:25] #2723 closed

[2021-11-10 00:13] kdaily commented on #6538
Hi @vergenzt,

Thanks for the post. I checked a few (like `ListFolderMembers`), and these operations were added after the last update to the paginators noted in aws/aws-cli#5713. I will request the Quicksight team to define paginators for these operations as well.

Since this is a request that the service team needs to implement, I'm going to move this to the `aws/aws-sdk` repository.

[2021-11-10 00:18] nCubed opened #6540 "aws lambda create-function: add parameter for log file retention days"
**Is your feature request related to a problem? Please describe.**
When creating a Lambda with the CLI, there is no way to provide a log file retention policy since the logs are not created until after the first run of the Lambda. And when the log group is automatically created, the retention policy is set to never-ever-ever-ever-ever-delete.

**Describe the solution you'd like**
Add an optional p

[2021-11-10 00:44] tim-finnigan commented on #2060
Hi @rvandegrift, thanks for your feedback.  I created an instance profile and received the following error when testing this:
`aws sts assume-role --role-arn "arn:aws:iam::<masked>:role/test-role" --role-session-name AWSCLI-Session`

`An error occurred (AccessDenied) when calling the AssumeRole operation: User: arn:aws:sts::<masked>:assumed-role/test-role/AWSCLI-Session is not authorized to perfor

[2021-11-10 17:29] stobrien89 commented on #6540
Hi @nCubed,

Thanks for the feature request!  This definitely sounds reasonable.  Because this is more of a feature request for the Lambda [`CreateFunction`](https://docs.aws.amazon.com/lambda/latest/dg/API_CreateFunction.html) API, and consequentially something that would be available to all AWS SDKs and tools, if implemented, I'm going to transfer this issue to our [shared SDK repository](https:

[2021-11-10 17:29] tim-finnigan commented on #2763
This appears to be a duplicate of https://github.com/aws/aws-cli/issues/2060.

When I assumed a role without s3 permissions and attempted the s3 ls command I received this error:
`An error occurred (AccessDenied) when calling the ListBuckets operation: Access Denied`

And @dschneller issues with credentials file ownership is also captured here: https://github.com/aws/aws-cli/issues/2565.

I think

[2021-11-10 17:29] #2763 closed

[2021-11-10 18:42] tim-finnigan commented on #2887
These are the wait commands currently available for cloudformation:

* change-set-create-complete
* stack-create-complete
* stack-delete-complete
* stack-exists
* stack-import-complete
* stack-rollback-complete
* stack-update-complete
* type-registration-complete

(https://awscli.amazonaws.com/v2/documentation/api/latest/reference/cloudformation/wait/index.html)

A few different topics have been m

[2021-11-10 18:50] Lusitaniae commented on #1295
Restoring a dynamodb table from a snapshot (100k rows) takes around 1h, but the job is failing around 10 mins.

```Waiter TableExists failed: Max attempts exceeded```

[2021-11-10 19:04] tim-finnigan commented on #2931
Hi everyone, it looks like this is now an option. Here is the command you can use:
`aws rekognition detect-labels --image-bytes fileb://tree.jpg`

I tested this and confirmed that it works. For reference this can be found here in the documentation: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/rekognition/detect-labels.html

[2021-11-10 19:04] #2931 closed

[2021-11-10 20:01] #2957 closed

[2021-11-10 21:24] tim-finnigan commented on #2965
It looks like a paginator was added [here](https://github.com/boto/botocore/blob/develop/botocore/data/lambda/2015-03-31/paginators-1.json) for `ListVersionsByFunction`. In the [documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/lambda/list-versions-by-function.html) it also now says:

So 50 is the limit but you can use pagination to access more versions.

Here is th

[2021-11-10 21:24] #2965 closed

[2021-11-10 23:19] tim-finnigan commented on #3083
Can confirm this is still the behavior. Here is the code: https://github.com/aws/aws-cli/blob/develop/awscli/customizations/cloudformation/package.py#L33-L41

I'm not sure if we want to establish a precedent for passing [configure options](https://github.com/aws/aws-cli/blob/develop/awscli/customizations/cloudformation/package.py#L33-L41) like `--profile` in cases like this though.

[2021-11-10 23:23] tim-finnigan commented on #3240
Similar request to https://github.com/aws/aws-cli/issues/3083. Here is error message in the code: https://github.com/aws/aws-cli/blob/develop/awscli/customizations/cloudformation/exceptions.py#L42-L48

[2021-11-11 01:23] gWOLF3 opened #6541 "s3 upload speeds too slow for very large files"
Confirm by changing [ ] to [x] below:
- [ x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to

[2021-11-11 17:28] tim-finnigan commented on #3445
In CLI v2 there is documented support for using a JSON file with `--parameter-overrides`: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/cloudformation/deploy/index.html#examples

But there is another open feature request to use a parameter file in YAML format (as @atkretsch requested in [this comment](https://github.com/aws/aws-cli/issues/3445#issuecomment-423399038)): https:/

[2021-11-11 17:28] #3445 closed

[2021-11-11 17:38] tim-finnigan commented on #3251
I think there is some overlap here with this request: https://github.com/aws/aws-cli/issues/2429

[2021-11-11 19:34] couchgott commented on #2429
i am facing the same issue.
i utilize a plain parameter file and add ParammeterKey/Value on the fly. my work-around:

--parameters $PARAMETERS $(jq -r '.Parameters | to_entries | map("ParameterKey=\(.key),ParameterValue=\(.value)") | join(" ")' param.json)

if i have lists at the param.json i escape the "," so it's input as string.

[2021-11-11 19:47] tim-finnigan commented on #3425
Hi @psliwka, this issue has been open for a while so I wanted to check in.

Did using `AWS_CA_BUNDLE` work for your use case?

[2021-11-11 22:42] tim-finnigan commented on #1295
@Lusitaniae for information on general retry configuration you can refer to this documentation: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-retries.html. Also this [comment](https://github.com/aws/aws-cli/issues/3665#issuecomment-727142977) provides context on when it was added and which versions support it.

`AWS_POLL_DELAY_SECONDS` is not a documented AWS CLI [environment vari

[2021-11-11 22:45] tim-finnigan commented on #3457
Hi @i-sangyu, thanks for your patience. This looks like a duplicate of the existing feature request to expose parameters for max-attempts and delay when using waiters. I think we should close this in favor of that issue (https://github.com/aws/aws-cli/issues/1295).

[2021-11-11 22:45] #3457 closed

[2021-11-11 23:30] rvandegrift commented on #2060
@tim-finnigan that's not quite the right scenario.  You have a correctly configured IAM profile, but the attached policies don't permit the instance to call `sts:AssumeRole`.  This issue is about misconfigured IAM profiles.

I just reproduced this.  The current behavior is better - it doesn't crash.  But it's just reported as a generic failure to load credentials:
[code]
Ideally, the error from th

[2021-11-12 00:06] #6512 closed

[2021-11-12 00:29] stobrien89 commented on #6541
Hi @gWOLF3,

Sorry to hear about the issues.  Assuming the file is a file stream, the expected size in bytes appears to be too large— this parameter is used to calculate the part size (for up to 10,000 parts), so you want to try to get as close to the actual size as possible.  Otherwise, you shouldn't need to include the `--expected-size` option and you may want to try toggling different multipart

[2021-11-12 05:06] Lusitaniae commented on #5653
Restoring a dynamodb table from a snapshot (100k rows) takes around 30/60m, but the job is failing around 10 mins.

I've tried these env variables but doesn't seem to work??

[code]

[code]

[2021-11-12 12:42] izimbra commented on #5933
It would be great if this use case was documented on this page: https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sso.html#sso-using-profile

[2021-11-12 14:27] fhopeman commented on #6367
Hi @tim-finnigan,

CLI support ist now available (https://github.com/aws/aws-sdk/issues/118). Is it possible to re-open this issue?

Best regards

[2021-11-12 14:27] fhopeman commented on #6367
Hi @tim-finnigan,

SDK support ist now available (aws/aws-sdk#118). Is it possible to re-open this issue?

Best regards

[2021-11-12 15:04] tim-finnigan commented on #6367
Hi @fhopeman, SDK support is available for Amazon Grafana as mentioned [here](https://github.com/aws/aws-sdk/issues/118#issuecomment-963679036):

Are there specific SDKs or API calls you need that aren't currently supported?

[2021-11-12 15:32] tim-finnigan commented on #5653
Hi @Lusitaniae, I should point out the distinction between the wait command and `AWS_MAX_ATTEMPTS`.

Here is what the [documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/dynamodb/wait/table-exists.html) says for `aws dynamodb wait table-exists`:

In contrast `AWS_MAX_ATTEMPTS` is described [here](https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-envvars.

[2021-11-12 15:54] Lusitaniae commented on #5653
Thank you for the feedback,

Please disregard `AWS_POLL_DELAY_SECONDS` as you mentioned, I probably took it from somewhere unrelated.

As mentioned before, I'm doing dynamodb table restores from snapshots and it's common that it takes 30 to 60 min depending on number of rows/indexes. Seems that we'd benefit from being able to customize the retry behavior for dynamodb either using `AWS_MAX_ATTEMPTS

[2021-11-12 16:08] tim-finnigan commented on #5653
Thanks @Lusitaniae we can consider that a +1 for the feature request to customize max-attempts and delay with the CLI (using issue #1295 to track that request).

In the interim you could use the WaiterConfig object in boto3 as documented here: https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/dynamodb.html#waiters

[2021-11-12 17:46] tim-finnigan commented on #2060
@rvandegrift thanks for providing that walk-through, I was able to reproduce the behavior you’re seeing. But I don’t think this has to do with the role:

`Unable to locate credentials. You can configure credentials by running "aws configure".`

In this [premium support](https://aws.amazon.com/premiumsupport/knowledge-center/troubleshoot-aws-cli-commands-ec2/) article on troubleshooting CLI issues

[2021-11-12 18:28] rvandegrift commented on #2060
@tim-finnigan If there's no config, `awscli` falls back to `boto3`'s credential discovery process.  Among other things, this checks the EC2 metadata service.  When an instance has an IAM instance profile assigned, the metadata service tries to provide temporary credentials for the associated IAM role.  EC2 calls STS on your behalf and provides the creds at the URL mentioned above - hence why the a

[2021-11-12 19:26] tim-finnigan commented on #2060
Thanks @rvandegrift for the explanation and sorry for the confusion on my end! I understand what you’re saying now and could reproduce that. I can see the need for a clearer error message in this scenario.

[2021-11-12 19:33] tim-finnigan commented on #3490
Hi @hikerspath, it looks like Terraform provides a few options for authenticating through AWS: https://registry.terraform.io/providers/hashicorp/aws/latest/docs#authentication

Do those help you accomplish what you need to? Or did you have any updates you wanted to add to this feature request?

[2021-11-12 20:13] bransinanderson commented on #5840
I'm experiencing the same problem. Tried both sync and copy to an empty directory on my local machine. Always copies up to a certain point and then fails. Only a quarter or less of the copy process and then just immediately stops.

I installed aws-cli on Linux Ubuntu 20.04.3 LTS 64-bit
https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html

`aws --version`
aws-cli/2.3.5 Pyth

[2021-11-12 20:18] michel-heon opened #6543 "aws-cli: aws apigateway get-sdk : pom file generation problem for sdk-type=java"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [X ] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ X] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Invocat

[2021-11-13 00:46] stobrien89 commented on #6543
Hi @michel-heon,

Sorry to hear about the issues.  Could you provide debug logs for your `get-sdk` command, by appending `--debug` to the command?  Please obscure any sensitive information, such as account numbers.

When you say there's no documentation on `sdk-type=java`, do you mean it's not referenced in the examples?

[2021-11-13 09:56] michel-heon commented on #6543
Hi @stobrien89
Here is the information about the --debug trace

Command sent
`
aws apigateway get-sdk   --rest-api-id XXXXX --stage-name dev   --sdk-type java   --parameters invokerPackage=ca.uqam.vivo.aws.vivo_diffusion.vivo_proxy.person,groupId=ca.uqam.vivo.aws.vivo_diffusion.vivo_proxy,artifactVersion=1.0.0-SNAPSHOT,service.name=VIVO_Diffusion_PROXY,java.package-name=ca.uqam.vivo.aws.vivo_diffu

[2021-11-13 20:03] dot4qu commented on #774
My fix for this on mac OS was removing awscli version 1.X and installing the most recent 2.X. Pretty obvious but it took me a few failed fix attempts to try it.

[2021-11-13 21:31] jonnyzzz commented on #5227
I needed to exchange current AWS credentials with Assume Role. `jq` is very helpful for scripts like that:
[code]

Adding `yum update && yum install -y  jq` was enough to solve that, +1 to include it by default

[2021-11-14 12:57] 4speculators commented on #4710
There is a video on CLI and API SSO  https://youtu.be/y6jTIuz-oMc

[2021-11-14 23:03] #2378 closed

[2021-11-14 23:03] #2589 closed

[2021-11-14 23:03] #2757 closed

[2021-11-14 23:03] #2940 closed

[2021-11-14 23:04] #3882 closed

[2021-11-14 23:04] #3970 closed

[2021-11-15 01:08] gWOLF3 commented on #6541
Hey @stobrien89 - thanks for your response:

Your right, the expected size variable I was using was too large (I added 3 too many zeros) - however it appears to not make a difference. I have tried with both using the exact correct `--expected-size` and with that variable not included.

No matter what I seem to toggle, I cannot seem to get much more than 65MiB/second. This is prohibitively slow for

[2021-11-15 04:11] bevinharris commented on #4892
This is still an issue and is affecting our work processes.

[2021-11-15 05:57] gWOLF3 commented on #6541
some more information if it helps to debug:

aws cli version: `aws-cli/2.3.6 Python/3.8.8 Linux/5.4.0-1045-aws exe/x86_64.ubuntu.20 prompt/off`
region bucket: us-east-2
region ec2: us-east-2

[2021-11-15 14:54] Alin-Andrei opened #6544 "AWS S3 sync it's not fetching files from the specified folder"
Hi all,

I have an issue with aws s3(i'm new to this, so bare with me).
It goes like this:
     Let's say that i've added the key with a specific path: e.x. C:\Users\username\Documents\my files. The targeted folder contains X files. When i'm synching with my bucket, it fetches those X files and different files from the pc(system32 files, folder, etc) and i'm not able to find out why.

Do you have

[2021-11-15 17:51] seaniedan commented on #912
Plus 3 here.

[2021-11-15 17:52] kdaily commented on #6544
Hi @Alin-Andrei,

Sorry to hear you're having trouble. I'm not sure that I can figure out what is going on without some more information.

Can you:

1. reproduce this with a small subset of files, and
2. provide the commands you're running to put files in the bucket and retrieve them, and
2. provide debug logs from the sync command you're running? You can do this by adding the `--debug` parameter

[2021-11-15 19:59] tim-finnigan commented on #4088
Running this command: `AWS_PROFILE=prod1 aws s3 ls`

Now results in just: `The config profile (prod1) could not be found`

[2021-11-15 19:59] #4088 closed

[2021-11-15 20:26] connorlay commented on #4843
I ran into this issue on a Linux machine running Pop_OS. I had previously setup `kubectl` when installing `minikube` and encountered the same cryptic error message when running `aws eks update-kubeconfig`. Deleting `~/.kube/config` fixed it for me locally.

[2021-11-15 21:38] tim-finnigan commented on #4190
When you run `aws s3 sync` it prints a new line for each object it is uploading or downloading and shows the progress during that:

![image](https://user-images.githubusercontent.com/87778557/141856532-fc8ebed2-cf0b-4b92-8bd4-23755a244179.png)

@leezu can you provide any more context for your use case? I’m trying to think of scenarios where a user would want to see each object’s transfer status bu

[2021-11-15 23:36] kiiadi opened #6545 "IAM new-role wizard doesn't handle nullable description"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
While run

[2021-11-16 01:20] ardove opened #6546 "aws kms -h doesn't work"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Running `

[2021-11-16 06:49] Alin-Andrei commented on #6544
Hello @kdaily,

Thank you for your fast reply.
I've reproduced the process on a test env and it worked just fine(the issue is on a client side). The sync is automatic and it's done at a specific time( X minutes).

I've used the following commands:
-after installing AWS i've used "aws configure" with the specific key
-after the config i've used aws s3 ls to see if the bucket is vizible
-restarted t

[2021-11-16 07:00] Tzrlk commented on #4685
Just to add another workaround to the mix, adding `gcompat` lets the binary run fine, and with `groff` the help displays. Still not alpine native, but a hell of a lot simpler than installing all of glibc.

[2021-11-16 10:29] Alin-Andrei commented on #6544
Hello @kdaily

I've found generic commands for the debug session:
$ aws servicename commandname options --debug 2> debug.txt
$ aws servicename commandname options --debug

In this case i'm not sure how to replace the "servicename","commandname" and "options" as i'm not very familiar with AWS.
Do you think you can help me with that?

E.x. of the aws config:

$ aws configure
AWS Access Key ID [None]

[2021-11-16 10:33] volphy commented on #4685
@Tzrlk
It would be a good workaround but unfortunately it does not work for everyone.

I have installed both `gcompat` and `groff` packages but I still cannot run the latest AWS CLI v2:
`
ImportError: Error relocating /usr/local/aws-cli/v2/dist/_awscrt.cpython-38-x86_64-linux-gnu.so: pthread_attr_setaffinity_np: symbol not found
`

Am I missing something more in my Alpine Linux installation?

[2021-11-16 10:41] Tzrlk commented on #4685
Hmm. I guess something else I'm pulling in must be getting it to work. I suspect it's Java, but I remember running it on a pre-java build step. I'll check in the morning and see if I can make it break.

[2021-11-16 12:01] awoimbee opened #6547 "AWS SSO AccessToken custom expiration time ?"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [x] Service API : I want to d

[2021-11-16 15:59] leezu commented on #4190
Hi @tim-finnigan, the goal here is to support non-interactive environments, such as AWS CloudWatch or CI tools such as Jenkins or Github Actions

[2021-11-16 16:36] chadReimers commented on #651
please re-open still an issue

[2021-11-16 16:46] tim-finnigan commented on #6546
Hi @ardove, thanks for reaching out. We do have a long-standing feature request to update the help paradigm here: https://github.com/aws/aws-cli/issues/303. You can like the original post to show your support for this feature or leave a comment in the issue if you have any additional feedback.

In the meantime you can use `aws kms help` and `aws kms list-keys help` as you mentioned.

[2021-11-16 16:46] #6546 closed

[2021-11-16 17:39] kdaily commented on #6547
Hi @awoimbee,

Thanks for your comment. The access token expiration time is not determined by the AWS CLI or any AWS SDK, it's limited by the AWS SSO implementation. From the documentation:

https://docs.aws.amazon.com/singlesignon/latest/userguide/authconcept.html

I'll pass along your feedback to the AWS SSO team!

[2021-11-16 17:39] #6547 closed

[2021-11-16 18:10] antonycc commented on #2477
I see this issue is closed but it still occurs for me on using both `aws s3 sync` and `aws s3 cp` with `--recursive`.
[code]
Where I would expect the sync to terminate, instead I am held at:
[code]
The work around that I am using to progress is to combine, aws s3api list-objects-v2 with a single item copy using aws s3 cp.
For a given, bucket, prefix and target directory:
[code]
Instead of this:
[c

[2021-11-16 18:26] tim-finnigan commented on #6545
Thanks @kiiadi for reaching out and bringing this to our attention. I could reproduce the behavior you described. I created the PR linked above to address this.

[2021-11-16 18:35] kdaily commented on #6544
Hi @Alin-Andrei,

No worries! I'll try to help you as much as I can.

One thing I'm unclear about is this part that you noted:

This repository is only to support running commands from the command line, so if you're using some other service to sync files, I'm not sure I'll be able to help you.

I would encourage you to read our [user guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap

[2021-11-16 18:50] tim-finnigan commented on #4190
Thanks @leezu for following up. I see the reasoning behind what you're saying. To sum up this feature request, I think there is an ask for two new optional parameters that might be something like:

- `--hide-progress` : show object transfer statuses as they are logged but hide ongoing progress
- `--show-progress` : show ongoing progress but not individual object transfer statuses

[2021-11-16 19:30] tim-finnigan commented on #651
There is overlap here with this open issue being tracked: https://github.com/aws/aws-cli/issues/4070

There are workarounds for removing a bucket with versioning enabled discussed here: https://stackoverflow.com/questions/29809105/how-do-i-delete-a-versioned-bucket-in-aws-s3-using-the-cli

[2021-11-16 19:40] Alin-Andrei commented on #6544
Hello @kdaily ,

Thank you for your fast reply.

Regarding the sync operation. This issue(until now) appears only when the files are synced from local computer to a bucket, this is the part that i would like to debug.

I've read the docs provided by you, but i dind't find much info about my issue or how i can find out the root cause.

Regarding the service, it's just a way to sync the files automa

[2021-11-16 20:13] dfehrenbach commented on #2887
I don't mean to speak for @hnafar, but it's the idea that "wait commands" should be allowed to be bundled. Either do that by saying:

1. "Any one of the final states have been reached."
2. "Any one of the final states *that you have defined* have been reached."

As an example, imagine a ci/cd pipeline where you want to auto-update your cloud formation stack when you've pushed new code. It's a simp

[2021-11-16 20:22] stobrien89 commented on #6543
Hi @michel-heon,

Thanks for the additional information.  I mainly wanted to see if there was any useful information in the response, but that doesn't appear to be the case.  Just to confirm, you're expecting the `java.package-name` to be listed as the `artifactId` rather than the `service.name` ?  I get the impression from [this article](https://docs.aws.amazon.com/apigateway/latest/developerguid

[2021-11-16 23:52] stobrien89 commented on #6541
Hi @gWOLF3,

Thanks for the additional information.  I'm not seeing anything else in terms of configuration that could have a significant impact.  Would you be able to provide the instance type? (i.e. `t2 micro`, `t3.medium`, etc.)

[2021-11-17 00:11] kdaily commented on #6544
Hi @Alin-Andrei,

Thanks for the information. There could be different reasons why you're having an issue syncing, but without debug logs I'm not exactly sure what's going on here. Could it be that hidden system files are being transferred?

Reviewing the debug logs is the only way that I can be sure of what is occurring. I encourage you to test this without the automated part and focus on running

[2021-11-17 10:27] covertbert commented on #2887
While I also don't claim to speak for @hnafar, what @dfehrenbach says describes my issue exactly. We also use the npm package `aws-cloudformation-wait-ready` but it's not perfect at all and sometimes we still have issues where that script will be "done waiting" but when the next step in the CI pipeline (a cloudformation update) runs it will still error due to the stack still creating/updating/roll

[2021-11-17 11:07] nicornk commented on #5301
Would you be able to share the `gist`?

[2021-11-17 13:03] nngabriel commented on #6452
Any updates ? further testing needed ?
Just let me know if there is anything that can be done to fix this.
Thanks

Gabriel Zabal

[2021-11-17 17:11] #3423 closed

[2021-11-17 18:09] tim-finnigan commented on #4814
There is some overlap in this request with https://github.com/aws/aws-cli/issues/2887 and https://github.com/aws/aws-cli/issues/3208

[2021-11-17 19:37] kdaily commented on #2874
@jfstephe, unfortunately not. I'll keep checking!

[2021-11-17 19:46] Xyncgas commented on #2874
any updates?

[2021-11-18 00:00] tim-finnigan commented on #5134
This looks like a duplicate of https://github.com/aws/aws-cli/issues/4926. I think we should close this and track the request there.

[2021-11-18 00:00] #5134 closed

[2021-11-18 00:51] kdaily commented on #6452
Hi @nngabriel,

Sorry for the delay. Still investigating this and need to hear back from the Workdocs team. Just to confirm that you followed the instructions here to enable notifications, including an endpoint?

https://docs.aws.amazon.com/workdocs/latest/developerguide/manage-notifications.html

I'm asking as I have reproduced up to the point of using the "Manage Notifications -> Enable Notifica

[2021-11-18 17:20] tim-finnigan commented on #4800
This looks like a duplicate of https://github.com/aws/aws-cli/issues/5200. I think we should close this in favor of that issue where there is more discussion.

[2021-11-18 17:20] #4800 closed

[2021-11-18 17:21] georgewheatcroft opened #6552 "aws2 cli sso login should give option to force new session entirely"
**Is your feature request related to a problem? Please describe.**
one problem currently with AWS SSO is that when a user has already been mapped against an account, and is then assigned a new permission set against that account, they must log out and log in again in order to be able to access these permissions

I recently had an issue where I was added to a new SSO group with an additional permis

[2021-11-18 17:21] gfcroft opened #9041 "aws2 cli sso login should give option to force new session entirely"
**Is your feature request related to a problem? Please describe.**
one problem I have encountered with AWS SSO is that when a user has already been mapped against an account, and is then assigned a new permission set against that account via being added to a group which has a permission set against that account, they must log out and log in again in order to be able to access these permissions

Sp

[2021-11-18 17:55] rfestag commented on #5261
The solution from @m4dc4p has the added benefit of working well with tools like `cdk`, which currently do not support SSO named profiles. Workarounds exist, but this seems like a simple solution to a problem affecting anyone trying to work with SSO
https://github.com/aws/aws-cdk/issues/5455

[2021-11-18 20:03] #3425 closed

[2021-11-18 20:36] tim-finnigan commented on #5279
Hi @benishue, thanks for bringing this to our attention. In the [CloudTrail documentation](https://docs.aws.amazon.com/awscloudtrail/latest/APIReference/API_LookupEvents.html#API_LookupEvents_ResponseSyntax) it says EventTime is a number even though we are seeing a string returned. I reached out to the CloudTrail team to update their documentation. Once that is addressed we can update the example

[2021-11-18 20:36] tim-finnigan commented on #5279
V472303385

[2021-11-18 21:23] kdaily commented on #6552
Hi @georgewheatcroft,

Thanks for your post. I tried this out, but I could use the new permission set just fine. I had an existing SSO user with one permission set. I logged in via the command line, using a profile like this:

[code]

Through the AWS console, I associated another permission set to this user account, added another profile to my config file like:

[code]

I could then run commands j

[2021-11-18 21:29] #5279 closed

[2021-11-18 21:54] tim-finnigan commented on #5448
I think there is overlap here with this request: https://github.com/aws/aws-cli/issues/5316

[2021-11-18 22:38] tim-finnigan commented on #5330
The CLI pagination documentation has improved since this issue was created: https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-pagination.html

For `--no-paginate` there is now a more detailed description:

Disabling the use of a pager is also covered in [this](https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-pagination.html#cli-usage-pagination-clientside) section, along with us

[2021-11-18 22:38] #5330 closed

[2021-11-19 00:04] georgewheatcroft commented on #6552
Sorry @kdaily I have a slightly different workflow where I am experiencing this:

1. assign your sso user directly against an account by mapping it to the account with a permission set.(e.g. AWSAdministratorAccess) - you should be able to see this on the sso console "your applications" landing page after refreshing the page
2. now create an SSO group and associate that with the account and a diffe

[2021-11-19 01:18] joguSD commented on #6552
The code backing the `aws sso login` command actually does have a "fresh" option `force_refresh` and it's always applied:
https://github.com/aws/aws-cli/blob/99a32dda2fac3b4ff3523980e0367508f8d3d4e5/awscli/customizations/sso/login.py#L41-L46

So every `aws sso login` invocation derives a new access token to the best of our ability given the exposed APIs.

There's some rather unintuitive ties betwe

[2021-11-19 01:30] hauntingEcho commented on #5316
`--cli-input-json` is a parameter for a lot of awscli commands - I'd argue that's what's needed for `aws cloudformation deploy`.

`aws cloudformation create-stack` and `aws cloudformation update-stack` do allow for `--cli-input-json`, but they require a different format than CodePipeline can use.  The parameter/tag formats for `aws cloudformation deploy` line up better with the format expected for

[2021-11-19 08:34] yuluc123 opened #6556 "should pyasn1 and jmespath be added to configuration files?"
**Describe the question**
Hi
I notice that pyasn1 and jmespath are missing in configuration files. They are used in source code but not declared.

- pyasn1
https://github.com/aws/aws-cli/blob/6ad60664366773b00970bbee12bc0b68c839a439/awscli/customizations/cloudtrail/validation.py#L25

- jmespath
for example
https://github.com/aws/aws-cli/blob/45b0063b2d0b245b17a57fd9eebd9fcc87c4426a/awscli/customiz

[2021-11-19 09:54] ecerulm opened #6557 "aws s3api get-bucket-notification-configuration --bucket xxx produces no output at all if there is not Event Notifications configured"
Confirm by changing [ ] to [x] below:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

Issue is about usage on:
- [ ] Service API : I want to d

[2021-11-19 17:11] tim-finnigan commented on #5417
In the API [documentation](https://docs.aws.amazon.com/waf/latest/APIReference/API_ListResourcesForWebACL.html) referenced earlier, it says ResourceType is not required. So either it should say that ResourceType is required or there is an issue with the API.

I created an AppSync API and could confirm that it was only returned when I specified `--resource-type APPSYNC` in that command.

I reached

[2021-11-19 17:11] tim-finnigan commented on #5417
P55460545

[2021-11-19 17:37] tim-finnigan commented on #5464
Closing this as the PR mentioned above was merged.

[2021-11-19 17:37] #5464 closed

[2021-11-19 20:21] tim-finnigan commented on #5532
That ‘name’ error should be more explicit but it is referring to the absence of a name in the second cluster:

[code]

And there is another issue for tracking the other error mentioned above (`'NoneType' object is not iterable`): https://github.com/aws/aws-cli/issues/4843

Also just for reference these EKS docs provide a walk-through for creating a kubeconfig file with the CLI: https://docs.aws.am

[2021-11-19 20:40] tim-finnigan commented on #5560
Closing this as the PR linked above was merged.

You can now use the parameters `--log-stream-names` or `--log-stream-name-prefix` to filter logs:
https://awscli.amazonaws.com/v2/documentation/api/latest/reference/logs/tail.html

[2021-11-19 20:40] #5560 closed

[2021-11-19 21:03] #3490 closed

[2021-11-19 22:20] kdaily commented on #6556
Hi @yuluc123,

Thanks for your post and calling this out. We're going to look at the specific use of `pyasn1`, which comes as a [dependency of `rsa`](https://github.com/aws/aws-cli/blob/develop/setup.cfg#L11). It looks like it would be better to reduce the use of that specific exception, as that's the only reason it's imported.

For `jmespath`, this comes as a [dependency of `botocore`](https://gi

[2021-11-19 22:43] tim-finnigan commented on #5173
I think this is a feature request rather than a bug. It also looks like there is some overlap with https://github.com/aws/aws-cli/issues/5563. @mindw can you confirm if that issue covers what you're asking for here?

[2021-11-19 23:28] GeorgeJahad opened #6559 "Support S3 HTTP redirects to non-Amazon URI's by using the location header"
**Is your feature request related to a problem? Please describe.**
I'm a developer contributing to [Apache Ozone](https://hadoop.apache.org/ozone/), an S3 compatible object store.

I would like to use HTTP redirects to balance the load amongst Ozone-based s3 servers, but aws-cli/botocore doesn't currently support redirects to non-amazon URI's.

Typically, http clients implement redirects using the

[2021-11-20 00:23] kdaily commented on #6552
@georgewheatcroft,

I could reproduce your scenario. I'm going to check in with the SSO team to see if I can get some clarification on the behavior.

[2021-11-20 07:02] digz6666 opened #6560 "No module named awscli (windows 11)"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [ ] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Installed

[2021-11-20 07:03] digz6666 commented on #6560
Similar issue: https://github.com/aws/aws-cli/issues/4164

[2021-11-20 07:13] digz6666 commented on #6560
I had python 3.8 & 3.9 installed somehow and removed them. And uninstalled aws-cli v2 and re-installed.
Now it says different issue:

[code]

[2021-11-20 07:26] digz6666 commented on #6560
Deleted python38 files from my program files, re-installed aws-cli and the issue resolved!

[2021-11-20 07:26] #6560 closed

[2021-11-20 19:37] es50678 commented on #5261
unfortunately, this is a blocker for moving to SSO for my organization. sad to see it's been 2 years since the issue was brought up. Is there any significant movement or news on this?

[2021-11-20 22:10] leezu commented on #4190
Thank you @tim-finnigan. Yes, your proposal would address the issue.

[2021-11-21 13:08] oshriPP commented on #3700
@justnance any update for this features?

[2021-11-21 14:07] mindw commented on #5173
* I'm not sure how a report of a(n implicit?) practice not being followed can be considered a feature request. I have encountered greater leaps of logic in the past.
* IMHO this ticket is about awscli / boto3 / botocore while #5563 seems to be about that *and* unpinned third parties.

[2021-11-22 05:29] Alin-Andrei commented on #6544
Hello @kdaily ,

So i've runed the commands and the logs showed what was expected. With the --dryrun command, it returned the correct number of files existing in the targeted folder and with the --debug command, it uploaded the correct number of files.

But without these commands, the other files are still uploaded.

Thank you,
Alon

[2021-11-22 06:09] rito-sixt commented on #4335
Bump! This would be really great, so that the state machine logic does not reside in the template itself.

[2021-11-22 06:45] yuluc123 commented on #6556
Thanks for your nice reply.
I am just having a start with AWS CLI.  I am confused by the usage of these two dependencies and  can not find any explict instructions of them. So I open the issue and give suggestion that maybe they should be declared in some configuration files.  I mean that if the dependency is directly imported in code, it should be declared as a dependency.

[2021-11-22 11:14] michel-heon commented on #6543
Hello @stobrien89
Do you know Maven? do you try to reproduce de bug ?

Well, I'll rephrase the issues to give more information.
1 - about the doc

2- About the operation of aws-cli

[code]

3) to answer your question specifically, I suggest that:
first about the documentation you [refer to here](https://docs.aws.amazon.com/apigateway/latest/developerguide/generate-java-sdk-of-an-api.html). it is n

[2021-11-22 15:28] joodlehammond commented on #3637
For anyone ending up here from debugging SNS message attributes, the above fix works for SNS too, yet [the documentation](https://awscli.amazonaws.com/v2/documentation/api/latest/reference/sns/publish.html) still states the old syntax without the curly braces.

[2021-11-22 16:43] tim-finnigan commented on #6557
Hi @ecerulm thanks for reaching out. I could reproduce the behavior that you described.

As you referenced from the documentation, that action returns an empty NotificationConfiguration element if notifications are not enabled on the bucket. For more context here is the [documentation](https://docs.aws.amazon.com/AmazonS3/latest/API/API_NotificationConfiguration.html) for NotificationConfiguration

[2021-11-22 16:43] tim-finnigan commented on #6557
P55554248

[2021-11-22 20:54] DigeratiOhm opened #6561 "libssl.so.1.0.0: cannot open shared object file: No such file or directory when trying to download with curl"
Attempting to download aws-cli using the following command on Oracle LInux 6.10:
  #curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
Getting a return error of:
  curl: error while loading shared libraries: libssl.so.1.0.0: cannot open shared object file: No such file or directory
Did the following:
  [root@artemis install]# whereis libssl.so.1.0.0
  libssl.so.1.0:

[2021-11-22 22:08] landsman commented on #1449
Very good choise

[2021-11-22 23:12] kdaily commented on #6561
Hi @DigeratiOhm,

Sorry to hear you're having trouble. Unfortunately it looks like this is an issue with your installation of `curl` and it's dependencies, which is something we can't help with.

To unblock you, maybe you can try another mechanism to download the zip file, like `wget`? I would suggest taking a look for issues with `curl` and `openssl` on StackOverflow.

If you have trouble with ge

[2021-11-22 23:12] #6561 closed

[2021-11-22 23:53] tim-finnigan commented on #6559
Hi @GeorgeJahad, thanks for the feature request. I think what you’re asking for is essentially the ability to specify an endpoint url. Can you confirm if that correct?  If so then does using the `--endpoint-url` parameter accomplish what you're trying to do?

[2021-11-23 01:09] nic-russo opened #6562 "ECS execute-command failed due to an internal error."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
Attemptin

[2021-11-23 01:39] quanlinc opened #6563 "aws lambda list-layer-versions with --output text option gives wrong result."
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**
aws lambd

[2021-11-23 05:31] GeorgeJahad commented on #6559
Hey Tim:

I appreciate the quick response, but no, it isn't quite what I'm asking for.

The --endpoint-url option allows the user to specify a private, (non-amazon,) s3-compatible service, (and I do use it for that.)

But it is sometimes useful for that service to redirect the aws-cli client to a different url, using standard http redirects: https://developer.mozilla.org/en-US/docs/Web/HTTP/Redire

[2021-11-23 14:22] DigeratiOhm commented on #6561
Thanks Ken.  Pulled it over from the 7.9 server and it installed correctly.

[2021-11-23 17:29] tim-finnigan commented on #6562
Hi @nic-russo, thanks for reaching out. That error was also referenced in issues https://github.com/aws/aws-cli/issues/6456 and https://github.com/aws/aws-cli/issues/6070. Have you tried looking through the comments in those issues?

In both issues there are other issues mentioned from the https://github.com/aws-containers/amazon-ecs-exec-checker repository that might help give more insight why yo

[2021-11-23 17:58] tim-finnigan commented on #6563
Hi @quanlinc, thanks for reaching out. I think that behavior might be explained by this documentation: https://docs.aws.amazon.com/cli/latest/userguide/cli-usage-filter.html#cli-usage-filter-client-side

Can you confirm if using `--no-paginate` with `--output-text` solves this for you?

[2021-11-23 18:46] tim-finnigan commented on #6559
Hi @GeorgeJahad, thanks for clarifying that. I brought this up for discussion with the team and the consensus was that this is not something they plan to implement.

One reason is because allowing redirects to non-AWS URIs could be a security vulnerability. Another reason is because they expressed concern that altering the current redirect logic could lead to breaking changes.

You could potential

[2021-11-23 18:49] quanlinc commented on #6563
@tim-finnigan just confirmed, yup ,that works, so it feels more like a bug on our end, that we didn't have enough lambda layer versions to fill up one page, that's why we never had this issue until recently we cross to the next page, which gives us this unexpected behavior. I already took a different route to get the latest lambda layer version for our projects, thought this would be a bug, thanks

[2021-11-23 18:57] tim-finnigan commented on #6563
Thanks @quanlinc for letting me know! I’ll go ahead and close this issue.

[2021-11-23 18:57] #6563 closed

[2021-11-23 22:32] tim-finnigan commented on #6224
The DescribeCluster API does return a UNIX timestamp but the CLI converts it into a ISO 8601 format by default in v2 (see https://docs.aws.amazon.com/cli/latest/userguide/cliv2-migration.html#cliv2-migration-timestamp). I think the v2 documentation example should be updated to reflect that.

[2021-11-23 23:26] GeorgeJahad commented on #6559
Thanks for checking @tim-finnigan

With respect to  plugins, I'm not seeing any documentation on how to implement one.  Do you have any pointers?

[2021-11-23 23:50] michelsumbul commented on #6559
@tim-finnigan do you think it will be possible to imagine to have by default redirection only to aws URI (what we have now) but if a specific option is mentioned, like --allow-redirect-non-aws-uri, then the client will accept redirection to non aws.
In that way we seriously mitigate the security concern plus by default we don't change the redirect logic except if the user explicitly use that optio

[2021-11-24 01:24] #6541 closed

[2021-11-24 08:10] woshizhicainiaoluguo opened #6568 "s3cmd can't delete some existing empty folders"
**Platform/OS/Hardware/Device**
s3cmd version 2.2.0
ceph v14.2.3

**Describe the question**

I deployed a ceph cluster by version 14.2.3 and use it as a rgw storage，
my colleague found some existing empty folders can't be deleted,then I used the s3cmd but get the same result
it shows deleted but I can still find the folder exists.

no policy, no acl or anything special

[ceph@ceph0001 ~]$ s3cmd in

[2021-11-24 10:00] nic-russo commented on #6562
Hi @tim-finnigan, thank you for your support. I went through those issues and [this guide](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-exec.html). I can confirm that:

* I'm running `execute-command` assuming an Admin IAM role on a child account of my Organization.
* My container just start the `grafana:8.2.4-ubuntu` image without any further customization. Using Fargate with `

[2021-11-24 12:31] woshizhicainiaoluguo commented on #6568
I used the s3browser and found I could still list the dir in the s3browser
s3://earth/user/hive/warehouse/tpcds_bin_partitioned_orc_2.db/store_sales/ss_sold_date_sk=2452107/
but when I tried to rename the dir ,it reports 404 not found.
I think it means the object was deleted for real,so I can't get it,but I could still list it
and my temporary way is to create the same name dir and delete it
It wo

[2021-11-24 14:22] roeera commented on #1721
+1

[2021-11-24 14:59] alesculek commented on #3376
Hi,

I was facing the same issue today, I wanted to use CodeUri in the Globals since it does not make sense to repeat it in our project.

Unfortunately, I expected this to be working since it is mentioned in the docs here: https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/sam-specification-template-anatomy-globals.html

Could you please consider changing this to a bug?

[2021-11-24 16:42] tim-finnigan commented on #6568
Hi @woshizhicainiaoluguo, thanks for reaching out. We don’t support s3cmd as that is a third-party service. But you can try opening an issue in their repository here: https://github.com/s3tools/s3cmd/issues

For a list of AWS CLI supported services please see here: https://awscli.amazonaws.com/v2/documentation/api/latest/reference/index.html#available-services

[2021-11-24 16:42] #6568 closed

[2021-11-24 19:29] tim-finnigan commented on #6559
@GeorgeJahad we have another issue open requesting support for a stable plugin API: https://github.com/aws/aws-cli/issues/2350. But as mentioned in this comment: https://github.com/aws/aws-cli/issues/1261#issuecomment-89082634, there is no official plugin documentation as of now because it is subject to change.

@michelsumbul the proposal to add a configuration option for disabling region redirect

[2021-11-24 19:29] #6559 closed

[2021-11-25 08:04] #5725 closed

[2021-11-25 10:22] Orabig opened #6569 ""The certificate field contains more than one certificate" error message with valid certificate"
Confirm by changing [ ] to [x] below to ensure that it's a bug:
- [x] I've gone though the [User Guide](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html) and the [API reference](https://docs.aws.amazon.com/cli/latest/reference/)
- [x] I've searched for [previous similar issues](https://github.com/aws/aws-cli/issues) and didn't find any solution

**Describe the bug**

Using **